<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="template.css">
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
		<link rel="icon" type="image"href="favicon.gif">
	</head>
	<body>
		<div class="container">
			<nav class="nav">
				<div class="nav_box_1">
					<h1>BRAND</h1>
				</div>
				<div class="nav_box_2">
					<h4>label 1</h4>
					<h4>label 2</h4>
					<h4>label 3</h4>
					<h4>label 4</h4>
					<h4>label 5</h4>
				</div>
				<div class="nav_box_3">
					<h3>Button 1</h3>
					<div class="ham">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
			</nav>
			<div class="part_1">
				<div class="part_1_box_1">
					<h1>Title</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar sit amet nisl pellentesque ultricies. Sed ut quam vitae nibh luctus eleifend at consectetur nisl. Proin suscipit blandit nulla ut malesuada. 
					</p>
					<h4>Button</h4>
				</div>
				<div class="part_1_box_2">
					<div class="p1b2_1">
						
					</div>
					<div class="p1b2_2">
						
					</div>
					<div class="p1b2_3">
						
					</div>
					<div class="p1b2_4">
						
					</div>
				</div>
			</div>
			<div class="part_2">
				<h1>Name 1</h1>
				<h1>Name 2</h1>
				<h1>Name 3</h1>
				<h1>Name 4</h1>
			</div>
			<div class="part_3">
				<div class="part_3_box_1">
					<div>
						<h1>Heading</h1>
						<p>
							Curabitur mollis dapibus est, in imperdiet arcu lobortis ut. Quisque pellentesque rhoncus arcu, non porta purus commodo a. Nunc nisl dui, laoreet eu nunc quis, convallis semper odio.
						</p>
						<h4>Button</h4>
					</div>
				</div>
				<div class="part_3_box_2">
					<div class="part_3_box_2_box_1">
						<div class="p3b2b1_1">
							
						</div>
						<div class="p3b2b1_2">
							
						</div>
					</div>
					<div class="part_3_box_2_box_2">
						<div class="p3b2b2_1">
							
						</div>
					</div>
				</div>
			</div>
			<div class="cookies">
				<div class="cookies_1">
					<h4><i class="fa fa-times"></i></h4>
				</div>
				<div class="cookies_2">
					<h3>Cookies !!!</h3>
					<p>We make use of cookies to make the user experience much better.</p>
				</div>
				<div class="cookies_3">
					<h4>I Accept</h4>
				</div>
			</div>
			<div class="part_4">
				<div class="part_4_box_1">
					<div class="p4b1_1">
						
					</div>
					<div class="p4b1_2">
						
					</div>
					<div class="p4b1_3">
						
					</div>
					<div class="p4b1_4">
						
					</div>
					<div class="p4b1_5">
						
					</div>
				</div>
				<div class="part_4_box_2">
					<h5>Sub Heading</h5>
					<h1>Heading</h1>
					<p>
						Etiam porta tortor sit amet nunc eleifend commodo. Morbi varius, est vitae facilisis facilisis, metus lectus tincidunt turpis, sed viverra diam tortor id nulla. Maecenas vitae nisl sapien.
					</p>
					<h4>Button</h4>
				</div>
			</div>
			<div class="part_5">
				<h1>Lorem ipsum dolor sit amet</h1>
				<div class="part_5_box">
					<div class="part_5_box_1">
						<div class="p5b">
							<div>
								<div></div>
							</div>
							<h3>Heading 1</h3>
							<p>
								Praesent ultricies dolor quis iaculis luctus. Sed id euismod libero.
							</p>
							<h5>Button</h5>
						</div>
						<div class="p5b">
							<div>
								<div></div>
							</div>
							<h3>Heading 2</h3>
							<p>
								Aliquam rutrum elit lectus, nec porta ex sodales et. Sed est tortor, rutrum a diam sed,
							</p>
							<h5>Button</h5>
						</div>
					</div>
					<div class="part_5_box_2">
						<div class="p5b">
							 <div>
								<div></div>
							</div>
							<h3>Heading 3</h3>
							<p>
								Praesent nec lobortis turpis. Etiam congue finibus magna
							</p>
							<h5>Button</h5>
						</div>
						<div class="p5b">
							 <div>
								<div></div>
							</div>
							<h3>Heading 4</h3>
							<p>
								Praesent nec lobortis turpis. Etiam congue finibus magna, sed semper mauris vehicula sed.
							</p>
							<h5>Button</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="log_in">
				<h2><i class="fa fa-user"></i></h2>
			</div>
			<div class="slider">
				<div class="slider_box_1">
					<h1 class="slider_cut"><i class="fa fa-times"></i></h1>
				</div>
				<div class="slider_box_2">
					<h1>Brand</h1>
					<h3>Link 1</h3>
					<h3>Link 2</h3>
					<h3>Link 3</h3>
					<h3>Link 4</h3>
				</div>
				<div class="slider_box_3">
					 <h4>Text 1</h4>
					 <h4>Text 2</h4>
				</div>
			</div>
			<div class="part_6">
				<div class=part_6_container_1>
					<h3>Sub Heading</h3>
					<h1>Heading</h1>
				</div>
				<div class=part_6_container_2>
					<div class="part_6_box_1">
						<p>
							Cras nec nisl sem. Quisque dictum varius augue in bibendum. Suspendisse eu vehicula augue. Sed vehicula tortor at neque tempor, quis euismod orci ultricies. Morbi odio nibh, efficitur eu auctor et, convallis ut neque. Curabitur ac tellus porta, porttitor purus a, mattis nunc. Donec quis massa nisl
						</p>
						<p>
							Praesent vitae sagittis ipsum, id dictum nunc. Integer vulputate sagittis laoreet. In rutrum ipsum ultricies feugiat congue. Proin volutpat ligula in lorem tincidunt iaculis. Vivamus vehicula ornare urna, eu consectetur justo dapibus vel. Pellentesque fermentum, augue vel maximus tempor, purus nisi facilisis risus.
						</p>
					</div>
					<div class="part_6_box_2">
						<div class="p6b2_1">
							<div class="p6b2_1_b p6b2_1_1"></div>
							<div class="p6b2_1_b p6b2_1_2"></div>
							<div class="p6b2_1_b p6b2_1_3"></div>
						</div>
						<div class="p6b2_2">
							<div class="p6b2_2_1"></div>
							<div class="p6b2_1_b p6b2_2_2"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer">
				<h1>BRAND</h1>
				<div class="footer_box">
					<div class="footer_box_1">
						<h3>Company</h3>
						<h4>Link 1</h4>
						<h4>Link 2</h4>
						<h4>Link 3</h4>
					</div>
					<div class="footer_box_1">
						<h3>About</h3>
						<h4>Link 1</h4>
						<h4>Link 2</h4>
						<h4>Link 3</h4>
						<h4>Link 4</h4>
						<h4>Link 5</h4>
					</div>
					<div class="footer_box_1">
						<h3>Policy</h3>
						<h4>Link 1</h4>
						<h4>Link 2</h4>
						<h4>Link 3</h4>
						<h4>Link 4</h4>
					</div>
					<div class="footer_box_1">
						<h3>Conatact</h3>
						<h4>Phone: XXX XXXX XX</h4>
						<h4>Email: brand@mail.com</h4>
					</div>
				</div>
				<div class="footer_container">
					<h4>Copyright &copy;2020.Brand Inc.</h4>
				</div>
			</div>
		</div>
		<div class="log_in_form">
			<div class="div_cut">
				<h3 class="log_cut"><i class="fa fa-times"></i></h3>
			</div>
			<h1>Log In</h1>
			<form>
				<input type="text" placeholder="username">
				<input type="text" placeholder="password">
				<div><button>Submit</button></div>
			</form>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="template.js"></script>
	</body>
</html>