body{
	margin:0px;
	padding:0px;
}
.nav{
	/*border:1px solid red;*/
	display:flex;
	flex-direction:row;
	/*justify-content: space-around;*/
	font-family:'Roboto',sans-serif;
	background-color:rgba(230, 245, 255, .4);
	border-bottom:1px solid rgba(0,0,0,.2);

}
.nav div{
	/*border:1px solid red;*/
}
.nav_box_1{
	display: flex;
	margin-left:20%;
	margin-right:40%;
}
.nav_box_1 h2{
	font-weight:100;
	align-self: center;
}
.nav_box_1 h2:hover{
	cursor: pointer;
	color:rgba(255, 102, 0, .8);
}
.nav_box_2{
	display:flex;
	flex-direction: row;
	align-items:center;
}
.nav_box_2 h3{
	display:inline-block;
	/*border:1px solid red;*/
	font-weight:100;
	margin-right:50px;
	font-size:15px;
	transition: .1s color linear;
	font-weight:400;
}
.nav_box_2 h3:hover{
	color:rgba(255, 102, 0, .8);
	cursor:pointer;
}
.nav_box_2 h4{
	padding:8px 20px;
	border:1px solid rgba(0,0,0,.2);
	border-radius:3px;
	font-weight:100;
	transition:.2s all linear;
}
.nav_box_2 h4:hover{
	cursor:pointer;
	color:rgb(26, 140, 255);
}
.nav_box_2 h4 i{
	/*margin-left:10px;*/
}
.part_1{
	/*border:1px solid red;*/
	background-color:rgba(230, 245, 255, .4);
	position:relative;
	border-bottom-right-radius: 315px;
}
.part_1_box_1{
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	display: inline-block;
	margin-top:8%;
	margin-left:20%;
	margin-bottom:11%;
}
.part_1_box_1 h5{
	/*border:1px solid red;*/
	color:white;
	padding:8px 15px;
	background-color:rgba(255, 102, 0, .8);
	display:inline-block;
	border-radius:3px;
	letter-spacing:1px;
	margin-bottom:55px;
	box-shadow:0px 10px 25px rgba(255, 102, 0, .3);
}
.part_1_box_1 h1{
	/*border:1px solid red;*/
	display:inline-block;
	font-size:52px;
}
.part_1_box_1 h2{
	/*border:1px solid red;*/
	display:inline-block;
	font-size:30px;
	font-weight:100;
	color:rgba(0,0,0,.5);
	margin-top:0px;
}
.part_1_box_2{
	/*border:1px solid red;*/
	display:inline-block;
	font-family:'Roboto',sans-serif;
	background-color:white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow:0px 0px 30px rgba(150,150,150,.2);
	position: absolute;
	bottom:-73px;
	left:17%;
	transform:scale(.8);
}
.part_1_box_2_box_1{
	/*border:1px solid red;*/
	padding:0px 30px;
	border-bottom:1px solid rgba(0,0,0,.2);
}
.part_1_box_2_box_1 h4{
	display:inline-block;
	margin-right:150px;
	font-size:20px;
}
.part_1_box_2_box_1 h5{
	display:inline-block;
	color:rgba(0,0,0,.5);
}
.part_1_box_2_box_2{
	/*border:1px solid red;*/
	padding:0px 30px;
	display: flex;
	justify-content: space-between;
}
.part_1_box_2_box_2 h4{
	/*border:1px solid red;*/
	display:inline-block;
	font-weight:100;
	font-size:20px;
}
.part_1_box_2_box_2 h4 span{
	font-size:13px;
	color:rgba(0,0,0,.5);
	font-weight: bold;
}
.part_1_box_2_box_3{
	border:1px solid transparent;
	background-color:rgba(0, 102, 255, .7);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/*box-shadow:0px 0px 30px rgba(0, 102, 255, .7);*/
	transition:.2s all linear;
}
.part_1_box_2_box_3:hover{
	background-color:rgba(0, 102, 255, .9);
	cursor:pointer;
}
.part_1_box_2_box_3 h3{
	/*border:1px solid red;*/
	text-align:center;
	color:white;
}
.part_1_box_3{
	/*border:1px solid red;*/
	width:80px;
	height:80px;
	border-radius:50%;
	position:absolute;
	top:290px;
	left:900px;
	background-color:white;
	box-shadow:0px 0px 10px rgba(100,100,100,.2);
}
.part_1_box_4{
	/*border:1px solid red;*/
	width:80px;
	height:80px;
	border-radius:50%;
	position:absolute;
	top:185px;
	left:990px;
	background-color:white;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow:0px 0px 10px rgba(100,100,100,.2);
}
.part_1_box_4 h3{
	display:inline-block;
	font-family:'Roboto',sans-serif;
	font-size:15px;
	color:rgb(255, 102, 153);
	/*border:1px solid red;*/
}
.part_1_box_5{
	/*border:1px solid red;*/
	width:80px;
	height:80px;
	border-radius:50%;
	position:absolute;
	top:90px;
	left:1105px;
	background-color:white;
	font-family: 'Roboto',sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow:0px 0px 10px rgba(100,100,100,.2);
}
.part_1_box_5 h3{
	display:inline-block;
	font-family:'Roboto',sans-serif;
	font-size:15px;
	color:rgb(255, 102, 153);
	/*border:1px solid red;*/
}
.part_1_box_6{
	/*border:1px solid red;*/
	width:400px;
	height:400px;
	border-radius:50%;
	position:absolute;
	top:230px;
	right:400px;
	background:url("img1.jpg");
	background-position:100%;
	background-position:center center;
	box-shadow:0px 0px 20px rgba(100,100,100,.2);
}
.part_2{
	/*border:1px solid red;*/
	border-bottom:1px solid rgba(0,0,0,.2);
	background-color:white;
	display:flex;
	flex-direction: row;
	/*justify-content: center;*/
	padding:5px;
	padding-top:12%;
	padding-bottom:10%;
	font-family:'Roboto',sans-serif;
}
.part_2_box_1{
	/*border:1px solid red;*/
	flex-shrink:0;
	flex-basis:30%;
	display:inline-block;
	position: relative;
	margin-left:20%;
}
.part_2_box_1 h1{
	/*border:1px solid red;*/
	font-weight:100;
	font-size:38px;
	color:rgba(50,50,50,1);
}
.part_2_box_1 h4{
	/*border:1px solid red;*/
	line-height:1.5;
	font-weight:600;
	color:rgba(0,0,0,.6);
}
.part_2_box_1_box{
	/*border:1px solid red;*/
	display: flex;
	justify-content: center;
}
.part_2_box_1_box h4{
	/*border:1px solid red;*/
}
.part_2_box_2{
	/*border:1px solid red;*/
	flex-shrink:0;
	flex-basis:25%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding:5px;
	font-family:'Roboto',sans-serif;
	margin-left:10%;
	border-radius:12px;
	box-shadow:0px 0px 40px rgba(150,150,150,.3);
	transform:scale(.9);
}
.part_2_box_2 div{
	/*border:1px solid red;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.part_2_box_2 div h2{
	font-size:45px;
	font-weight:100;
	color:rgba(0, 102, 255, .8);
}
.part_3{
	/*border:1px solid red;*/
	display:flex;
	flex-direction: row;
	justify-content: center;
	padding:5% 0%;
}
.part_3_box_1{
	/*border:1px solid red;*/
	display:inline-block;
	font-family:'Roboto',sans-serif;
}
.part_3_box_1 h1{
	font-weight:100;
	/*border:1px solid red;*/
	text-align:center;
	font-size:35px;
}
.part_3_box_1 p{
	/*font-weight:100;*/
	/*border:1px solid red;*/
	text-align:center;
	line-height:1.8;
}
.part_4{
	/*border:1px solid red;*/
	display:flex;
	flex-direction:row;
	/*justify-content:center;*/
}
.part_4_box_1{
	width:550px;
	height:510px;
	/*border:1px solid red;*/
	margin-left:20%;
	margin-right:5%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.part_4_box_1 div{
	/*border:1px solid red;*/
	width:400px;
	height:400px;
	border-radius:50%;
	background:url("img2.jpg");
	background-size:cover;
	box-shadow:0px 0px 50px rgba(100,100,100,.2);
}
.part_4_box_2{
	/*border:1px solid red;*/
	flex-shrink:0;
	flex-basis:50%;
	background-color:rgba(230, 245, 255, .4);
	position:relative;
	border-top-left-radius:55px;
	border-bottom-left-radius: 160px;
}
.part_4_box_2_box{
	display:inline-block;
	margin:0% 8%;
	margin-top:15%;
	font-family:'Roboto',sans-serif;
	/*border:1px solid red;*/
}
.part_4_box_2_box h1{
	font-weight:100;
	/*border:1px solid red;*/
}
.part_4_box_2_box p{
	/*border:1px solid red;*/
	text-align:left;
	line-height:1.4;
}
.part_4_box_2_box a{
	display:inline-block;
	/*border:1px solid red;*/
	padding:15px 45px;
	text-decoration:none;
	background-color:rgba(51, 133, 255, .3);
	color:rgb(0, 102, 255);
	transition:.2s all linear;
	margin-top:8%;
	border-radius:3px;
}
.part_4_box_2_box a:hover{
	cursor: pointer;
	color:white;
	background-color:rgba(0, 102, 255, .7);
}
.part_4_box_2_2{
	/*border:1px solid red;*/
	width:80px;
	height:80px;
	border-radius:50%;
	position:absolute;
	top:50px;
	left:8%;
	background-color:white;
	box-shadow:0px 0px 50px rgba(150,150,150,.2);
	transform:scale(.8) rotate(45deg);
}
.part_5{
	/*border:1px solid red;*/
	display:flex;
	flex-direction:row;
	padding-top:10%;
}
.part_5_box_1{
	flex-shrink:0;
	flex-basis:50%;
	height:510px;
	/*border:1px solid red;*/
	margin-right:5%;
	font-family:'Roboto',sans-serif;
	background-color:rgba(230, 245, 255, .4);
	border-top-right-radius:55px;
	border-bottom-right-radius: 160px;
	position: relative;
}
.part_5_box_1_box{
	/*border:1px solid red;*/
	display: inline-block;
	margin-top:15%;
	margin-left:48%;
}
.part_5_box_1_box h1{
	font-weight:100;
}
.part_5_box_1_box p{
	/*border:1px solid red;*/
	text-align:left;
	line-height:1.4;
}
.part_5_box_1_box a{
	display:inline-block;
	/*border:1px solid red;*/
	padding:15px 45px;
	text-decoration:none;
	background-color:rgba(51, 133, 255, .3);
	color:rgb(0, 102, 255);
	transition:.2s all linear;
	margin-top:8%;
	border-radius:3px;
}
.part_5_box_1_box a:hover{
	cursor: pointer;
	color:white;
	background-color:rgba(0, 102, 255, .7);
}
.part_5_box_1_box_2{
	/*border:1px solid red;*/
	width:80px;
	height:80px;
	border-radius:50%;
	position:absolute;
	top:50px;
	right:44%;
	background-color:white;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow:0px 0px 50px rgba(150,150,150,.2);
	transform:scale(.8);
}
.part_5_box_2{
	width:550px;
	height:510px;
	/*border:1px solid red;*/
	margin-right:5%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.part_5_box_2 div{
	/*border:1px solid red;*/
	width:400px;
	height:400px;
	border-radius:50%;
	background:url("img3.jpg");
	background-size:cover;
	background-position:center center;
	box-shadow:0px 0px 50px rgba(100,100,100,.2);
}
.part_6{
	/*border:1px solid red;*/
	border-bottom:1px solid rgba(0,0,0,.2);
	display:flex;
	flex-direction:row;
	padding-top:10%;
	padding-bottom:5%;
	/*justify-content:center;*/
}
.part_6_box_1{
	width:550px;
	height:640px;
	/*border:1px solid red;*/
	margin-left:20%;
	margin-right:5%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.part_6_box_1 div{
	/*border:1px solid red;*/
	width:400px;
	height:400px;
	border-radius:50%;
	background:url("img4.jpg");
	background-size:cover;
	background-position:center center;
	box-shadow:0px 0px 50px rgba(100,100,100,.2);
}
.part_6_box_2{
	/*border:1px solid red;*/
	flex-shrink:0;
	flex-basis:50%;
	background-color:rgba(230, 245, 255, .4);
	position:relative;
	border-top-left-radius:55px;
	border-bottom-left-radius: 160px;
}
.part_6_box_2_box{
	display:inline-block;
	margin:0% 8%;
	margin-top:15%;
	font-family:'Roboto',sans-serif;
	/*border:1px solid red;*/
}
.part_6_box_2_box h1{
	font-weight:100;
	/*border:1px solid red;*/
}
.part_6_box_2_box p{
	/*border:1px solid red;*/
	text-align:left;
	line-height:1.4;
}
.part_6_box_2_box a{
	display:inline-block;
	/*border:1px solid red;*/
	padding:15px 45px;
	text-decoration:none;
	background-color:rgba(51, 133, 255, .3);
	color:rgb(0, 102, 255);
	transition:.2s all linear;
	margin-top:8%;
	border-radius:3px;
}
.part_6_box_2_box a:hover{
	cursor: pointer;
	color:white;
	background-color:rgba(0, 102, 255, .7);
}
.part_6_box_2_2{
	/*border:1px solid red;*/
	width:80px;
	height:80px;
	border-radius:50%;
	position:absolute;
	top:50px;
	left:8%;
	background-color:white;
	box-shadow:0px 0px 50px rgba(150,150,150,.2);
	transform:scale(.8) rotate(45deg);
}
.part_7{
	/*border:1px solid red;*/
	border-bottom:1px solid rgba(0,0,0,.2);
	padding-top:10%;
	padding-left:20%;
	padding-right:20%;
	padding-bottom:8%;
	font-family:'Roboto',sans-serif;
}
.part_7_box_1{
	/*border:1px solid red;*/
	display:flex;
	flex-direction: row;
	justify-content:space-around;
}
.part_7_box_1 div{
	display:inline-block;
	/*border:1px solid red;*/
}
.part_7_box_1 div h1{
	font-weight:100;
	font-size:35px;
}
.part_7_box_1 div a{
	display:inline-block;
	/*border:1px solid red;*/
	padding:15px 30px;
	text-decoration:none;
	background-color:rgba(51, 133, 255, .3);
	color:rgb(0, 102, 255);
	transition:.2s all linear;
	margin-top:8%;
	border-radius:5px;
}
.part_7_box_1 div a:hover{
	cursor: pointer;
	color:white;
	background-color:rgba(0, 102, 255, .7);
}
.part_7_box_2{
	margin-top:50px;
	padding:30px 5px;
	/*border:1px solid red;*/
	display:flex;
	flex-direction:row;
	justify-content: center;
	font-family:'Roboto',sans-serif;
	background-color:rgba(240,240,240,.1);
	border-radius:10px;
}
.part_7_box_2_box_1{
	/*border:1px solid red;*/
	flex-shrink:0;
	flex-basis:30%;
	margin-right:25px;
	height:700px;
	background-color:white;
	border-radius:10px;
	box-shadow:0px 0px 25px rgba(150,150,150,.2);
}
.part_7_box_2_box_2{
	/*border:1px solid red;*/
	flex-shrink:0;
	flex-basis:30%;
	margin-right:25px;
	height:700px;
	background-color:white;
	border-radius:10px;
	box-shadow:0px 0px 25px rgba(150,150,150,.2);
}
.part_7_box_2_box_3{
	/*border:1px solid red;*/
	flex-shrink:0;
	flex-basis:30%;
	margin-right:25px;
	height:700px;
	background-color:white;
	border-radius:10px;
	box-shadow:0px 0px 25px rgba(150,150,150,.2);
}
.part_7_img_1{
	/*border:1px solid red;*/
	height:200px;
	background:url("img5.jpg");
	background-size:cover;
	border-top-left-radius:10px;
	border-top-right-radius: 10px;
}
.part_7_img_2{
	/*border:1px solid red;*/
	height:200px;
	background:url("img6.jpg");
	background-size:cover;
	border-top-left-radius:10px;
	border-top-right-radius: 10px;
}
.part_7_img_3{
	/*border:1px solid red;*/
	height:200px;
	background:url("img7.jpg");
	background-size:cover;
	border-top-left-radius:10px;
	border-top-right-radius: 10px;
}
.part_7_span{
	border:3px solid rgba(0,0,0,.4);
	padding:5px 10px;
	text-align:center;
	border-radius:50%;
	color:rgb(0, 102, 255);
	transition:.2s all linear;
	font-size:20px;
	margin-right:15px;
}
.part_7_span:hover{
	cursor:pointer;
	color:white;
	background-color:rgb(0, 102, 255);
	border:3px solid rgb(0, 102, 255);
}
.part_8{
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	padding-top:5%;
	padding-bottom:8%;
	text-align:center;
}
.part_8_box_1{
	display:inline-block;
	/*border:1px solid red;*/
}
.part_8_box_1 h1{
	font-weight:100;
	/*border:1px solid red;*/
}
.part_8_box_1 h4{
	/*border:1px solid red;*/
	font-weight:100;
}
.part_8_box_2{
	/*border:1px solid red;*/
	margin-top:2%;
	display:flex;
	flex-direction: row;
	justify-content:center;
}
.part_8_box_2 div{
	display:flex;
	align-items: center;
	justify-content: center;
	/*border:1px solid red;*/
	margin-right:20px;
	background-color:rgba(230, 245, 255, .4);
	width:200px;
	border-radius:8px;
}
.part_8_box_2 div h1{
	/*border:1px solid red;*/
	font-weight:100;
	font-size:25px;
}
.part_9{
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	padding-top:3.5%;
	padding-bottom:4.5%;
	text-align:center;
	background-color:rgba(0, 115, 230, .8);
}
.part_9 h1{
	/*border:1px solid red;*/
	display:inline-block;
	font-size:45px;
	color:white;
}
.part_9 h3{
	/*border:1px solid red;*/
	display:inline-block;
	color:rgba(255,255,255,.8);
}
.part_9 h3 i{
	/*border:1px solid red;*/
	padding:15px 15px;
	border-radius:50%;
	font-size:25px;
	color:white;
	background-color:rgba(255,255,255,.2);
	margin-right:15px;
	transition:.2s all linear;
}
.part_9 h3 i:hover{
	/*color:rgba(0, 115, 230, .8);*/
	color:black;
	background-color:white;
	cursor:pointer;
}
.part_10{
	/*border:1px solid red;*/
	padding-left:20%;
	padding-right:20%;
	padding-top:5%;
	padding-bottom:6%;
	font-family:'Roboto',sans-serif;
}
.part_10_box_1{
	/*border:1px solid red;*/
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.part_10_box_1 h2{
	font-weight:100;
	align-self: : center;
}
.part_10_box_1 h2:hover{
	cursor:pointer;
	color:rgba(255, 102, 0, .8);
}
.part_10_box_1 h4{
	font-weight:100;
	align-self:center;
}
.part_10_box_1 h4 span{
	font-weight:bold;
}
.part_10_box_2{
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-top:8%;
}
.part_10_box_2_box_1{
	flex-shrink:0;
	flex-basis: 40%;
	/*border:1px solid red;*/
	display:flex;
	justify-content: space-between;
}
.part_10_box_2_box_1 div{
	/*border:1px solid red;*/
	display:inline-block;
	/*margin-right:10%;*/
}
.part_10_box_2_box_1 div h3{
	font-weight:100;
	margin-bottom:40%;
	font-size:22px;
}
.part_10_box_2_box_1 div h5{
	font-weight:100;
	font-size:15px;
	margin-top:-10px;
}
.part_10_box_2_box_1 div h5:hover{
	cursor:pointer;
	color:rgba(0, 115, 230, .8);
}
.part_10_box_2_box_2{
	/*border:1px solid red;*/
	text-align:right;
	/*height:300px;*/
}
.part_10_box_2_box_2 h3{
	font-weight:100;
	font-size:22px;
}
.part_10_box_2_box_2 h4{
	margin-top:25%;
}
.part_10_box_2_box_2 a{
	margin-top:0px;
	text-decoration:none;
	color:rgba(0, 115, 230, .8);
}
.part_10_box_2_box_2 a:hover{
	color:rgba(255, 102, 0, .8);
}
.part_10 h6{
	/*border:1px solid red;*/
	font-size:15px;
	font-weight:100;
	color:rgba(0,0,0,.7);
	margin-top:8%;
}
.part_11{
	/*border:1px solid red;*/
	padding-top:10%;
	padding-left:20%;
	font-family:'Roboto',sans-serif;
}
.part_11_box_1{
	/*border:1px solid red;*/
	display:inline-block;
}
.part_11_box_1 h1{
	font-weight:100;
	font-size:45px;
}
.part_11_box_1 p{
	line-height:2;
	font-weight:bold;
	font-size:18px;
	color:rgba(0,0,0,.5);
	margin-top:-10px;
}
.part_11_box_2{
	/*border:1px solid red;*/
	margin-top:5%;
	margin-bottom:3%;
}
.p11h3{
	display:inline-block;
	/*border:1px solid red;*/
	padding:10px 45px;
	margin-right:20px;
	border-radius:4px;
	background-color:rgba(230, 245, 255, .8);
	color:rgba(0, 102, 255, .7);
	transition:.2s all linear;
	opacity:.5;
}
.part_11_box_2 h3:hover{
	opacity:.6;
	cursor:pointer;
	color:white;
	background-color:rgba(0, 102, 255, .7);
}
.selected{
	background-color:rgba(0, 102, 255, .7);
	color:white;
	transition:.2s all linear;
	opacity:1;
}
.part_11_box_3{
	/*border:1px solid red;*/
	display:flex;
	flex-direction:row;
	margin-top:8%;
	overflow-x:hidden;
	padding:10px 10px;
	background-color:white;
}
#p11_1{
	margin-left:0%;
	transition: .2s all linear;
}
#p11_2{
	margin-left:-22%;
	transition: .2s all linear;
}
#p11_3{
	margin-left:-44%;
	transition: .2s all linear;
}
#p11_4{
	margin-left:-66%;
	transition: .2s all linear;
}
.all{
	opacity:.5;
}
.ptr{
	opacity:1;
}
.part_11_box_3 div{
	/*border:1px solid red;*/
	box-sizing: border-box;
	padding:10px 20px;
	flex-shrink:0;
	flex-basis:20%;
	margin-right:25px;
	background-color:white;
	border-radius:10px;
	box-shadow:0px 0px 30px rgba(150,150,150,.1);
}
.part_11_box_3 div h5{
	font-size:15px;
	color:rgba(255, 102, 0, .8);
}
.part_11_box_3 div h3{
	font-weight:100;
	font-size:25px;
}
.part_11_box_4{
	/*border:1px solid red;*/
	display:inline-block;
	margin-top:5%;
}
.part_11_box_4 h1{
	border:1px solid rgba(0, 102, 255, .7);
	font-size:35px;
	display:inline-block;
	margin:0px;
	padding:5px 20px;
	margin-right:10px;
	border-radius:50%;
	color:rgba(0, 102, 255, .7);
	transition:.2s all linear;
}
.part_11_box_4 h1:hover{
	color:white;
	background-color:rgba(0, 102, 255, .7);
	cursor:pointer;
}