body{
	margin:0px;
	padding:0px;
	overflow-x:hidden;
	overflow-y:visible;
}
.nav_container{
	/*display: flex;
	flex-direction: column;*/
	background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("img3.jpg");
	background-size:cover;
	background-position:center center;
	position: relative;
}
.nav{
	/*border:1px solid red;*/
	display: flex;
	justify-content: flex-end;
	padding-top:35px;
	/*background-color:grey;*/
	color:white;
}
.nav_1{
	/*border:1px solid red;*/
	flex-shrink:0;
	flex-basis:10%;
	display:inline-block;
	margin-right:5%;
}
.nav_1 h1{
	/*border:1px solid red;*/
	font-size:40px;
	letter-spacing: 5px;
}
.nav_1 h4{
	/*border:1px solid red;*/
	font-family:sans-serif;
	margin-top:-25px;
	font-size:18px;
	text-align:center;
	letter-spacing:2px;
}
.nav_2{
	/*border:1px solid red;*/
	/*position: fixed;*/
	flex-shrink:0;
	flex-basis:40%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.nav_2 h3{
	/*border:1px solid red;*/
	display:inline-block;
	font-family:sans-serif;
	font-size:15px;
	margin-left:20px;
	margin-right:20px;
	letter-spacing:2px;
	position: relative;
}
.nav_2 h3:hover{
	cursor: pointer
}
.nav_2 h3::before{
	content:'';
	position: absolute;
	top:0px;
	width:100%;
	height:100%;
	border-bottom:2px solid transparent;
	transform:translateY(8px) rotate(-5deg);
	transition:.2s all linear;
}
.nav_2 h3:hover::before{
	border-bottom:2px solid red;
	transform:translateY(8px) rotate(0deg);
}
.red{
	font-size:45px;
	transition:.2s all linear;
}
.red:hover{
	color:rgba( 255, 0, 0, 1);
}
.nav_2_box_1_scroll{
	background-color:white;
	color:black;
}
.nav_2_box_1{
	border:1px solid red;
	height:100px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition:.2s all linear;
}
.nav_2_box_2{
	border:2px solid red;
	flex-shrink:0;
	width:100px;
	height:100px;
	/*margin-left:5%;*/
	background-color:rgba(255,0,0,.2);
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition:.2s all ease-in;
}
.nav_2_box_2:hover{
	cursor:pointer;
	background-color:rgba(255,0,0,1);
}
.nav_2_box_2 div{
	width:40px;
	margin-top:5px;
	border-bottom:2px solid white;
}
.nav_3{
	/*border:1px solid red;*/
	text-align:center;
	padding-top:5%;
	padding-bottom:17.5%;
	color:white;
}
.nav_3 div{
	/*border:1px solid red;*/
	display:inline-block;
}
.nav_3 div h1{
	font-size:80px;
	font-family: 'Literata',serif;
	font-weight:600;
}
.nav_3 div p{
	font-size:25px;
	font-family: sans-serif;
	line-height: 1.5;
	margin-top:-30px;
}
/*.nav_4_shadow{
	box-shadow:0px 0px 10px rgba(0,0,0,.2);
}*/
.nav_4{
	/*border:1px solid red;*/
	background-color:white;
	display:inline-block;
	/*margin-top:-150%;*/
	padding-left:50px;
	padding-right:35px;
	padding-top:25px;
	position:fixed;
	top:50%;
	right:3%;
	z-index:10;
	box-shadow:0px 0px 10px rgba(0,0,0,.2);
	transition:.2s all linear;
}
.nav_4_box_1{
	/*border:1px solid red;*/
	font-family:'Literata',serif;
}
.nav_4_box_1 h3{
	/*border: 1px solid red;*/
	font-size:30px;
	font-weight:100;
	display: inline-block;
	/*margin-top:0px;*/
}
.nav_4_box_1_cut{
	border:1px solid black;
	padding:15px 25px;
	transition:.2s all linear;
	float:right;
	margin-top:11px;
}
.nav_4_box_1_cut:hover{
	cursor:pointer;
	background-color:black;
	color:white;
}
.nav_4_box_2{
	/*border:1px solid red;*/
}
.nav_4_box_2 p{
	font-family:serif;
	line-height:1.5;
	text-align:justify;
	font-size:18px;
	color:rgba(0,0,0,.6);
}
.nav_4_box_3{
	/*border:1px solid red;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family:sans-serif;
	margin-top:-20px;
}
.nav_4_box_3 h4{
	display:inline-block;
}
.nav_4_box_3_learn{
	font-family:sans-serif;
	font-weight:100;
	position: relative;
	color:rgba(0,0,0,.6);
}
.nav_4_box_3_learn:hover{
	cursor: pointer;
	color:rgba(0,0,0,1);
}
.nav_4_box_3_learn::before{
	content:'';
	position: absolute;
	top:0px;
	width:0%;
	height:100%;
	border-bottom:1px solid black;
	transform:translateY(8px);
	transition:.3s all linear;
}
.nav_4_box_3_learn:hover::before{
	width:100%;
}
.nav_4_box_3_accept{
	/*border:1px solid red;*/
	background-color:rgb(255,0,0,1);
	color:white;
	font-weight:100;
	padding:25px 45px;
	font-size:13px;
	letter-spacing:3px;
	opacity:.7;
	transition:.2s all linear;
}
.nav_4_box_3_accept:hover{
	cursor:pointer;
	opacity:1;
}
.nav_cover{
	/*border:1px solid red;*/
	/*width:1865px;
	height:930px;*/
	width: 100%;
	height:100%;
	position:absolute;
	top:0px;
	background-color:rgba(0,0,0,.5);
	background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url("img2.jpg");
	background-size: cover;
	background-position: center center;
	color:white;
	display:none;
}
.nav_cover_1{
	display: flex;
	justify-content: flex-end;
}
.nav_cover_content{
	/*border:1px solid red;*/
}
.nav_cover_content h1{
	/*border:1px solid red;*/
	text-align:center;
	font-size:40px;
	letter-spacing: 5px;
}
.nav_cover_content h4{
	/*border:1px solid red;*/
	font-family:sans-serif;
	margin-top:-25px;
	font-size:18px;
	text-align:center;
	letter-spacing:2px;
}
.nav_cover_cut{
	/*border:1px solid red;*/
	display: inline-block;
	margin-right:5%;
	margin-left:32%;
}
.nav_cover_cut h1{
	padding:35px;
	font-size:30px;
	border:2px solid white;
	font-weight:100;
	transition:.2s all ease-in;
}
.nav_cover_cut h1:hover{
	cursor:pointer;
	color:black;
	background-color:white;
}
.nav_cover_2{
	/*border:1px solid red;*/
	text-align:center;
}
.nav_cover_2_box_1{
	/*border:1px solid red;*/
	display:inline-block;
	margin-top:8%;
}
.nav_cover_2_box_1 h1{
	/*border:1px solid red;*/
	display:inline-block;
	position: relative;
	font-family:'Literata',serif;
	font-size:40px;
	font-weight:400;
	margin-right:40px;
}
.nav_cover_2_box_1 h1:hover{
	cursor:pointer;
}
.nav_cover_2_box_1 h1::before{
	content:'';
	position:absolute;
	top:0px;
	width:0%;
	height:100%;
	border-bottom:2px solid transparent;
	transform:translateY(8px);
	transition:.4s all linear;
}
.nav_cover_2_box_1 h1:hover::before{
	width:100%;
	border-bottom:1px solid red;
	/*transform:translateY(8px) rotate(0deg);*/
}
.nav_cover_2_box_2{
	/*border:1px solid red;*/
	margin-top:10%;
}
.nav_cover_2_box_2 h4{
	display:inline-block;
	/*border:1px solid red;*/
	font-family:sans-serif;
	font-weight:400;
	font-size:20px;
	margin-right:25px;
	position:relative;
}
.nav_cover_2_box_2 h4::before{
	content:'';
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	border-bottom:2px solid transparent;
	transform:translateY(8px) rotate(-5deg);
	transition:.2s all linear;
}
.nav_cover_2_box_2 h4:hover::before{
	border-bottom:2px solid red;
	transform:translateY(8px) rotate(0deg);
}
.nav_cover_2_box_2 h4:hover{
	cursor:pointer;
}
.part_1{
	/*border:1px solid red;*/

}
.part_1_box{
	/*border:1px solid red;*/
	display:inline-block;
	margin-top:10%;
	margin-left:15%;
	margin-bottom:8%;
}
.part_1_box h5{
	font-family:sans-serif;
	letter-spacing:4px;
}
.part_1_box h1{
	/*border:1px solid red;*/
	font-size:85px;
	font-family:'Lobster',cursive;
	font-weight:100;
}
.part_1_box p{
	font-size:18px;
	font-family:sans-serif;
	line-height:1.8;
}
.part_1_box_1{
	/*border:1px solid red;*/
	padding-top:10%;
	padding-bottom:15%;
	display: flex;
	background-color:rgba(255, 230, 230, .5);
}
.p1b1_1{
	background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)) ,url("img1.jpg");
	background-size:cover;
	background-position:center center;
	transition:.2s all linear;
}
.p1b1_2{
	background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)) ,url("img2.jpg");
	background-size:cover;
	background-position:center center;
	transition:.2s all linear;
}
.p1b1_3{
	background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)) ,url("img3.jpg");
	background-size:cover;
	background-position:center center;
	transition:.2s all linear;
}
.p1b1_4{
	background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)) ,url("img4.jpg");
	background-size:cover;
	background-position:center center;
	transition:.2s all linear;
}
.p1b1_5{
	background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)) ,url("img5.jpg");
	background-size:cover;
	background-position:center center;
	transition:.2s all linear;
}
.p1b1_6{
	background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)) ,url("img6.jpg");
	background-size:cover;
	background-position:center center;
	transition:.2s all linear;
}
.part_1_box_1_1{
	/*border:1px solid red;*/
	display:inline-block;
	width:1000px;
	height:1200px;
	padding-left:5%;
	margin-top:0px;
	font-family:'Lobster',cursive;
	/*position:absolute;
	top:5%;*/
}
.part_1_box_1_1 h1{
	/*border:1px solid red;*/
	color:white;
	font-weight:100;
	font-size:50px;
	margin-top:100%;
}
.part_1_box_1_2{
	/*border:1px solid red;*/
	display:flex;
	justify-content: center;
	align-items: center;
	width:400px;
	height:1200px;
	/*position:absolute;
	right:10%;*/
}
.part_1_box_1_3{
	/*border:1px solid red;*/
	display:flex;
	align-items: center;
	justify-content: flex-end;
	width:200px;
	height:1200px;
	text-align:right;
	margin-right:50px;
}
.pt1Num{
	font-family:'Lobster',cursive;
	font-size:45px;
}
.button{
	border:5px solid white;
	background-color:rgb(255, 204, 255);
	width:100px;
	height:100px;
	border-radius:50%;
	box-shadow:0px 10px 10px rgba(0,0,0,.2);
	opacity:.5;
	transition:.2s all linear;
	outline:none;
}
.button:hover{
	cursor:pointer;
	opacity:1;
	transform:translateY(-5px);
}
.part_2{
	/*border:1px solid red;*/
	height:800px;
	background:linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),url("img7.jpg");
	background-size:cover;
	background-position:center center;
}
.part_3{
	/*border:1px solid red;*/
	padding-top:12%;
	padding-bottom:8%;
	padding-left:12%;
	background-color:rgba(255, 242, 230, .5);
	transition:.8s all ease-in-out;
}
.part_3_1{
	background-color:rgba(230, 255, 255, .5);
	transition:.8s all ease-in-out;
}
.part_3_2{
	background-color:rgba(255, 245, 204, .5);
	transition:.8s all ease-in-out;
}
.part_3_cover{
	/*border:1px solid blue;*/
	display:flex;
	padding:10px;
}
.part_3_box_1_move_1{
	margin-left:-1510px;
	transition:.8s all ease-in-out;
}
.part_3_box_1_move_2{
	margin-left:-3020px;
	transition:.8s all ease-in-out;
}
.part_3_box_1{
	/*border:1px solid red;*/
	padding:5px;
	display: inline-block;
	position:relative;
	transition:.8s all ease-in-out;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	background-color:white;
}
.part_3_box_1_box_1{
	/*border:1px solid red;*/
	width:800px;
	height:800px;
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("img8.jpg");
}
.part_3_box_1_box_2{
	position:absolute;
	top:60px;
	right:-350px;
	/*left:-100px;*/
	background-color:white;
	/*border:1px solid red;*/
	display:inline-block;
	padding-top:80px;
	padding-bottom:80px;
	padding-left:60px;
	padding-right:60px;
	box-shadow:0px 0px 25px rgba(0,0,0,.2);
}
.part_3_box_1_box_2 h1{
	font-size:55px;
	font-family:'Lobster',cursive;
	font-weight:100;
}
.part_3_box_1_box_2 p{
	margin-top:80px;
	text-align:justify;
	font-size:20px;
	font-family:sans-serif;
	letter-spacing:1px;
	line-height:1.8;
}
.part_3_box_2{
	/*border:1px solid red;*/
	padding:5px;
	margin-left:700px;
	display: inline-block;
	position:relative;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	background-color:white;
}
.part_3_box_2_box_1{
	/*border:1px solid red;*/
	width:800px;
	height:800px;
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("img9.jpg");
}
.part_3_box_2_box_2{
	position:absolute;
	top:83px;
	right:-350px;
	/*left:-100px;*/
	background-color:white;
	/*border:1px solid red;*/
	display:inline-block;
	padding-top:80px;
	padding-bottom:80px;
	padding-left:60px;
	padding-right:60px;
	box-shadow:0px 0px 25px rgba(0,0,0,.2);
}
.part_3_box_2_box_2 h1{
	font-size:55px;
	font-family:'Lobster',cursive;
	font-weight:100;
}
.part_3_box_2_box_2 p{
	margin-top:80px;
	text-align:justify;
	font-size:20px;
	font-family:sans-serif;
	letter-spacing:1px;
	line-height:1.8;
}
.part_3_box_3{
	/*border:1px solid red;*/
	padding:5px;
	margin-left:700px;
	display: inline-block;
	position:relative;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	background-color:white;
}
.part_3_box_3_box_1{
	/*border:1px solid red;*/
	width:800px;
	height:800px;
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("img10.jpg");
}
.part_3_box_3_box_2{
	position:absolute;
	top:45px;
	right:-350px;
	/*left:-100px;*/
	background-color:white;
	/*border:1px solid red;*/
	display:inline-block;
	padding-top:80px;
	padding-bottom:80px;
	padding-left:60px;
	padding-right:60px;
	box-shadow:0px 0px 25px rgba(0,0,0,.2);
}
.part_3_box_3_box_2 h1{
	font-size:55px;
	font-family:'Lobster',cursive;
	font-weight:100;
}
.part_3_box_3_box_2 p{
	margin-top:80px;
	/*border:1px solid red;*/
	text-align:justify;
	font-size:20px;
	font-family:sans-serif;
	letter-spacing:1px;
	line-height:1.8;
}
.part_3_buttons{
	/*border:1px solid red;*/
	margin-top:-20px;
	padding-left:10px;
}
.part_3_buttons h1{
	/*border:1px solid red;*/
	font-size:40px;
	display:inline-block;
	margin-right:10px;
	color:rgba(0,0,0,.5);
	transition:.2s all linear;
}
.part_3_buttons h1:hover{
	cursor:pointer;
	color:rgba(0,0,0,1);
}
.part_4{
	/*border:1px solid red;*/
	padding-top:10%;
	padding-bottom:10%;
	padding-left:10%;
}
.part_4 h4{
	font-family:sans-serif;
	letter-spacing:4px;
	font-size:12px;
}
.part_4 h1{
	margin-top:100px;
	margin-bottom:100px;
	font-size:85px;
	font-family:'Lobster',cursive;
	font-weight:100;
}
.part_4_p{
	/*border:1px solid red;*/
	font-family:sans-serif;
	display:flex;
}
.part_4_p p{
	/*border:1px solid red;*/
	display:inline-block;
	font-size:20px;
	line-height:1.8;
}
.part_5{
	/*border:1px solid red;*/
	padding-top:15%;
	padding-left:15%;
	padding-bottom:15%;
	position:relative;
	background-color:rgba(255, 242, 230, .5);
}
.part_5_box_1{
	/*border:1px solid red;*/
	display:inline-block;
	padding:5px;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	background-color:white;
}
.part_5_box_1_img{
	width:1200px;
	height:800px;
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("img10.jpg");
}
.part_5_box_2{
	/*border:1px solid red;*/
	background-color:white;
	padding-top:70px;
	padding-bottom:70px;
	padding-left:60px;
	padding-right:60px;
	position:absolute;
	top:400px;
	left:1200px;
	box-shadow:0px 0px 25px rgba(0,0,0,.2);
}
.part_5_box_2 h1{
	font-size: 55px;
    font-family: 'Lobster',cursive;
    font-weight: 100;
}
.part_5_box_2 h4{
	font-family:'Lobster',cursive;
	letter-spacing:2px;
}
.part_5_box_2 p{
	margin-top: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
}
.part_5_box_2 h3{
	/*border:1px solid red;*/
	display: flex;
	align-items:center;
	font-family:sans-serif;
	letter-spacing:4px;
	font-size:15px;
	margin-top:80px;
	color:rgba(255,0,0,.8);
	opacity:.6;
	transition:.2s all linear;
}
.part_5_box_2 h3:hover{
	cursor:pointer;
	opacity:1;
}
.p5b2_button_div{
	border:1px solid red;
	width:50px;
	height:50px;
	transform:rotate(45deg);
	margin-right:20px;
	transition:.2s all linear;
	z-index:1;
}
.p5b2_button_div_1{
	transform:rotate(-45deg);
	margin-right:30px;
	background-color:rgba(255,0,0,.8);
}
.p5b2_arrow{
	/*border:1px solid red;*/
	position:relative;
	width:50px;
	height:50px;
	right:-20px;
	font-size:40px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index:2;
	transition:.2s all linear;
}
.p5b2_arrow_1{
	right:-55px;
	font-size:22px;
	color:white;
}
.part_6{
	/*border:1px solid red;*/
	padding-top:15%;
	padding-left:15%;
	padding-bottom:15%;
	position:relative;
	background-color:rgba(230, 255, 255, .5);
}
.part_6_box_1{
	/*border:1px solid red;*/
	text-align: left;
	background-color:white;
	padding-top:70px;
	padding-bottom:70px;
	padding-left:60px;
	padding-right:60px;
	position:absolute;
	top:400px;
	left:1200px;
	box-shadow:0px 0px 25px rgba(0,0,0,.2);
}
.part_6_box_1 h1{
	font-size: 55px;
    font-family: 'Lobster',cursive;
    font-weight: 100;
}
.part_6_box_1 h4{
	font-family:'Lobster',cursive;
	letter-spacing:2px;
}
.part_6_box_1 p{
	margin-top: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
}
.part_6_box_1 h3{
	/*border:1px solid red;*/
	display: flex;
	align-items:center;
	font-family:sans-serif;
	letter-spacing:4px;
	font-size:15px;
	margin-top:80px;
	color:rgba(255,0,0,.8);
	opacity:.6;
	transition:.2s all linear;
}
.part_6_box_1 h3:hover{
	cursor:pointer;
	opacity:1;
}
.p6b2_button_div{
	border:1px solid red;
	width:50px;
	height:50px;
	transform:rotate(45deg);
	margin-right:20px;
	transition:.2s all linear;
	z-index:1;
}
.p6b2_button_div_1{
	transform:rotate(-45deg);
	margin-right:30px;
	background-color:rgba(255,0,0,.8);
}
.p6b2_arrow{
	/*border:1px solid red;*/
	position:relative;
	width:50px;
	height:50px;
	right:-20px;
	font-size:40px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index:2;
	transition:.2s all linear;
}
.p6b2_arrow_1{
	right:-55px;
	font-size:22px;
	color:white;
}
.part_6_box_2{
	/*border:1px solid red;*/
	display:inline-block;
	padding:5px;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	background-color:white;
}
.part_6_box_2_img{
	width:1200px;
	height:800px;
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("img12.jpg");
	background-size:cover;
	background-position:center center;
}
.part_7{
	/*border:1px solid red;*/
	padding-top:15%;
	padding-left:15%;
	padding-bottom:10%;
	position:relative;
	background-color:rgba(255, 245, 204, .5);
}
.part_7_box_1{
	/*border:1px solid red;*/
	text-align: left;
	background-color:white;
	padding-top:70px;
	padding-bottom:70px;
	padding-left:60px;
	padding-right:60px;
	position:absolute;
	top:400px;
	left:1200px;
	box-shadow:0px 0px 25px rgba(0,0,0,.2);
}
.part_7_box_1 h1{
	font-size: 55px;
    font-family: 'Lobster',cursive;
    font-weight: 100;
}
.part_7_box_1 h4{
	font-family:'Lobster',cursive;
	letter-spacing:2px;
}
.part_7_box_1 p{
	margin-top: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
}
.part_7_box_1 h3{
	/*border:1px solid red;*/
	display: flex;
	align-items:center;
	font-family:sans-serif;
	letter-spacing:4px;
	font-size:15px;
	margin-top:80px;
	color:rgba(255,0,0,.8);
	opacity:.6;
	transition:.2s all linear;
}
.part_7_box_1 h3:hover{
	cursor:pointer;
	opacity:1;
}
.p7b2_button_div{
	border:1px solid red;
	width:50px;
	height:50px;
	transform:rotate(45deg);
	margin-right:20px;
	transition:.2s all linear;
	z-index:1;
}
.p7b2_button_div_1{
	transform:rotate(-45deg);
	margin-right:30px;
	background-color:rgba(255,0,0,.8);
}
.p7b2_arrow{
	/*border:1px solid red;*/
	position:relative;
	width:50px;
	height:50px;
	right:-20px;
	font-size:40px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index:2;
	transition:.2s all linear;
}
.p7b2_arrow_1{
	right:-55px;
	font-size:22px;
	color:white;
}
.part_7_box_2{
	/*border:1px solid red;*/
	display:inline-block;
	padding:5px;
	box-shadow:0px 0px 10px rgba(0,0,0,.5);
	background-color:white;
}
.part_7_box_2_img{
	width:1200px;
	height:800px;
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("img11.jpg");
	background-size:cover;
	background-position:center center;
}
.part_8{
	/*border: 1px solid red;*/
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
}
.part_8 h4{
	font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 12px;
}
.part_8_h1{
	margin-top: 100px;
    margin-bottom: 100px;
    font-size: 85px;
    font-family: 'Lobster',cursive;
    font-weight: 100;
}
.part_8_box{
	/*border:1px solid red;*/
	display:flex;
	padding-top:10%;
	padding-bottom:2.5%;
	padding-left:2%;
	background-color:rgba(255, 242, 230, .5);
	transition:1s all linear;
}
.part_8_box_1{
	/*border:1px solid red;*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right:50px;
	flex-shrink: 0;
	flex-basis:15%;
}
.part_8_box_1 h1{
	font-size:30px;
	/*font-weight:100;*/
}
.part_8_1{
	background-color:rgba(230, 255, 255, .5);
	transition:1s all linear;
}
.part_8_2{
	background-color:rgba(255, 245, 204, .5);
	transition:1s all linear;
}
.part_8_3{
	background-color:rgba(255, 179, 179, .5);
	transition:1s all linear;
}
.part_8_4{
	background-color:rgba(250, 235, 245, .5);
	transition:1s all linear;
}
.part_8_5{
	background-color:rgba(255, 240, 230, 1);
	transition:1s all linear;
}
.part_8_box_2{
	/*border:1px solid red;*/
	overflow-x:hidden;
	padding-top:2.5%;
	padding-left:2.5%;
	padding-bottom:2.5%;
	display:flex;
	flex-direction:row;
}
.p8box_div{
	padding:5px;
	flex-shrink:0;
	margin-right:225px;
	background-color:white;
	/*border:1px solid red;*/
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.p8box_div div{
	width:800px;
	height:600px;
}
.p8div{
	transition:1s all linear;
}
.p8div_1{
	margin-left:-1033px;
	transition:1s all linear;
}
.p8div_2{
	margin-left:-2068px;
	transition:1s all linear;
}
.p8div_3{
	margin-left:-3102px;
	transition:1s all linear;
}
.p8div_4{
	margin-left:-4137px;
	transition:1s all linear;
}
.p8div_5{
	margin-left:-5172px;
	transition:1s all linear;
}
.p8b2_1{
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("img12.jpg");
	background-size:cover;
	background-position:center center;
}
.p8b2_2{
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("img13.jpg");
	background-size:cover;
	background-position:center center;
}
.p8b2_3{
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("img14.jpg");
	background-size:cover;
	background-position:center center;
}
.p8b2_4{
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("img15.jpg");
	background-size:cover;
	background-position:center center;
}
.p8b2_5{
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("img3.jpg");
	background-size:cover;
	background-position:center center;
}
.p8b2_6{
	background:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("img6.jpg");
	background-size:cover;
	background-position:center center;
}
.part_8_buttons{
	/*border:1px solid red;*/
	display:inline-block;
}
.part_8_buttons h1{
	display:inline-block;
	margin-right:10px;
	font-size:40px;
	color:rgba(0,0,0,.5);
	transition:.2s all linear;
}
.part_8_buttons h1:hover{
	cursor:pointer;
	color:rgba(0,0,0,1);
}
.part_9{
	/*border:1px solid red;*/
	padding:5px;
}
.part_9_box_1{
	/*border:1px solid red;*/
}
.part_9_box_1 h4{
	font-family:sans-serif;
	font-size:12px;
	letter-spacing:4px;
	text-align:center;
}
.part_9_box_1 h1{
	font-family:'Lobster',cursive;
	font-size:85px;
	font-weight:100;
	text-align:center;
}
.gio{
	color:red;
	border-bottom:2px solid red;
}
.bar{
	color:red;
	border-bottom:2px solid red;
}
.art{
	color:red;
	border-bottom:2px solid red;
}
.part_9_headers{
	/*border:1px solid red;*/
	text-align:center;
	margin-top:5%;
}
.part_9_headers h3{
	/*border:1px solid red;*/
	box-sizing:border-box;
	/*width:229.297px;*/
	font-size:18px;
	height:35px;
	padding-bottom:5px;
	margin-left:35px;
	margin-right:35px;
	display:inline-block;
	font-family:'Lobster',sans-serif;
	font-weight:100;
	transition:.2s all linear;
}
.part_9_headers h3:hover{
	cursor:pointer;
	border-bottom:2px solid red;
	color:red;
}
.part_9_headers div{
	display:inline-block;
	margin-left:35px;
	margin-right:35px;
	transform:rotate(45deg);
	background-color:rgba(0,0,0,.3);
	width:12px;
	height:12px;
	/*border:1px solid red;*/
}
.part_9_box_2{
	/*border:1px solid blue;*/
	padding:5px;
	padding-top:5%;
	padding-bottom:10%;
	margin-top:5px;
	position:relative;
}
.part_9_box_2_box_1{
	/*border:1px solid green;*/
	/*position:relative;*/
	/*display:flex;
	flex-direction:row;*/
	padding-left:10%;
	padding-top:2%;
	padding-bottom:2%;
}
.p9b2b1_1{
	/*border:1px solid red;*/
	transform:scale(.8);
	text-align: left;
	display:inline-block;
	flex-shrink:0;
	background-color:white;
	padding-top:70px;
	padding-bottom:70px;
	padding-left:60px;
	padding-right:60px;
	/*position:absolute;
	top:0px;
	left:200px;*/
	/*box-shadow:0px 0px 25px rgba(0,0,0,.2);*/
}
.p9b2b1_1 h1{
	font-size: 55px;
    font-family: 'Lobster',cursive;
    font-weight: 100;
}
.p9b2b1_1 p{
	margin-top: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
}
.p9b2b1_1 h3{
	/*border:1px solid red;*/
	display: flex;
	align-items:center;
	font-family:sans-serif;
	letter-spacing:4px;
	font-size:15px;
	margin-top:80px;
	color:rgba(255,0,0,.8);
	opacity:.6;
	transition:.2s all linear;
}
.p9b2b1_1 h3:hover{
	cursor:pointer;
	opacity:1;
}
.p9b2b1_2{
	/*border:1px solid red;*/
	padding:5px;
	background-color:white;
	flex-shrink:0;
	display:inline-block;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.p9b2b1_2_img{
	width:1000px;
	height:800px;
	background:linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)),url("img17.jpg");
	background-size:cover;
	background-position:center center;
}
.part_9_box_2_box_2{
	/*border:1px solid green;*/
	/*position:relative;*/
	/*display:flex;
	flex-direction:row;*/
	padding-left:10%;
	padding-top:2%;
	padding-bottom:2%;
	/*position:absolute;
	top:92px;*/
	display:none;
}
.p9b2b2_1{
	/*border:1px solid red;*/
	transform:scale(.8);
	text-align: left;
	display:inline-block;
	flex-shrink:0;
	background-color:white;
	padding-top:70px;
	padding-bottom:70px;
	padding-left:60px;
	padding-right:60px;
	/*position:absolute;
	top:0px;
	left:200px;*/
	/*box-shadow:0px 0px 25px rgba(0,0,0,.2);*/
}
.p9b2b2_1 h1{
	font-size: 55px;
    font-family: 'Lobster',cursive;
    font-weight: 100;
}
.p9b2b2_1 p{
	margin-top: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
}
.p9b2b2_1 h3{
	/*border:1px solid red;*/
	display: flex;
	align-items:center;
	font-family:sans-serif;
	letter-spacing:4px;
	font-size:15px;
	margin-top:80px;
	color:rgba(255,0,0,.8);
	opacity:.6;
	transition:.2s all linear;
}
.p9b2b2_1 h3:hover{
	cursor:pointer;
	opacity:1;
}
.p9b2b2_2{
	/*border:1px solid red;*/
	padding:5px;
	background-color:white;
	flex-shrink:0;
	display:inline-block;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.p9b2b2_2_img{
	width:1000px;
	height:800px;
	background:linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)),url("img18.jpg");
	background-size:cover;
	background-position:center center;
}
.part_9_box_2_box_3{
	/*border:1px solid green;*/
	/*position:relative;*/
	/*display:flex;
	flex-direction:row;*/
	padding-left:10%;
	padding-top:2%;
	padding-bottom:2%;
	/*position:absolute;
	top:92px;*/
	display:none;
}
.p9b2b3_1{
	/*border:1px solid red;*/
	transform:scale(.8);
	text-align: left;
	display:inline-block;
	flex-shrink:0;
	background-color:white;
	padding-top:70px;
	padding-bottom:70px;
	padding-left:60px;
	padding-right:60px;
	/*position:absolute;
	top:0px;
	left:200px;*/
	/*box-shadow:0px 0px 25px rgba(0,0,0,.2);*/
}
.p9b2b3_1 h1{
	font-size: 55px;
    font-family: 'Lobster',cursive;
    font-weight: 100;
}
.p9b2b3_1 p{
	margin-top: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
}
.p9b2b3_1 h3{
	/*border:1px solid red;*/
	display: flex;
	align-items:center;
	font-family:sans-serif;
	letter-spacing:4px;
	font-size:15px;
	margin-top:80px;
	color:rgba(255,0,0,.8);
	opacity:.6;
	transition:.2s all linear;
}
.p9b2b3_1 h3:hover{
	cursor:pointer;
	opacity:1;
}
.p9b2b3_2{
	/*border:1px solid red;*/
	padding:5px;
	background-color:white;
	flex-shrink:0;
	display:inline-block;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.p9b2b3_2_img{
	width:1000px;
	height:800px;
	background:linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)),url("img19.jpg");
	background-size:cover;
	background-position:center center;
}
.part_10{
	/*border:1px solid red;*/
	display:flex;
	flex-direction:row;
	background-color: rgba(255, 179, 179, .2);
	padding-left:10%;
	padding-top:15%;
	padding-bottom:15%;
	position:relative;
}
.part_10_box_1{
	/*border:1px solid red;*/
	margin-right:15%;
	padding-top:20%;
}
.part_10_box_1 h4{
	font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 4px;
    text-align: left;
}
.part_10_box_1 h1{
	font-family: 'Lobster',cursive;
    font-size: 65px;
    font-weight: 100;
    text-align: left;
}
.part_10_box_2{
	/*border:1px solid red;*/
	position:relative;
}
.part_10_box_2_box_1{
	background-color:white;
	padding:5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.p10b2b1_img{
	width: 1000px;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)),url(img20.jpg);
    background-size: cover;
    background-position: center center;
}
.part_10_box_2_box_2{
	/*border:1px solid red;*/
	/*transform:scale(.8);*/
	position: absolute;
    top: 365px;
    left: 115px; 
    background-color: white;
    display: inline-block;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0px 0px 25px rgba(0,0,0,.2);
}
.part_10_box_2_box_2 h1{
	font-size: 55px;
    font-family: 'Lobster',cursive;
    font-weight: 100;
}
.part_10_box_2_box_2 p{
	margin-top: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
}
.part_11{
	/*border:1px solid red;*/
	display:flex;
	flex-direction:row;
	background-color: rgba(255, 179, 179, .2);
	padding-left:10%;
	padding-top:15%;
	padding-bottom:15%;
}
.part_11_box_1{
	/*border:1px solid red;*/
	margin-right:15%;
	padding-top:20%;
}
.part_11_box_1 h4{
	font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 4px;
    text-align: left;
}
.part_11_box_1 h1{
	font-family: 'Lobster',cursive;
    font-size: 65px;
    font-weight: 100;
    text-align: left;
}
.part_11_box_2{
	/*border:1px solid red;*/
	position:relative;
}
.part_11_box_2_box_1{
	background-color:white;
	padding:5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.p11b2b1_img{
	width: 1000px;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)),url(img21.jpg);
    background-size: cover;
    background-position: center center;
}
.part_11_box_2_box_2{
	/*border:1px solid red;*/
	/*transform:scale(.8);*/
	position: absolute;
    top: 365px;
    left: 115px; 
    background-color: white;
    display: inline-block;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0px 0px 25px rgba(0,0,0,.2);
}
.part_11_box_2_box_2 h1{
	font-size: 55px;
    font-family: 'Lobster',cursive;
    font-weight: 100;
}
.part_11_box_2_box_2 p{
	margin-top: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
}
.part_12{
	/*border:1px solid red;*/
	display:flex;
	flex-direction:row;
	background-color: rgba(255, 179, 179, .2);
	padding-left:10%;
	padding-top:15%;
	padding-bottom:25%;
}
.part_12_box_1{
	/*border:1px solid red;*/
	margin-right:15%;
	padding-top:20%;
}
.part_12_box_1 h4{
	font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 4px;
    text-align: left;
}
.part_12_box_1 h1{
	font-family: 'Lobster',cursive;
    font-size: 65px;
    font-weight: 100;
    text-align: left;
}
.part_12_box_2{
	/*border:1px solid red;*/
	position:relative;
}
.part_12_box_2_box_1{
	background-color:white;
	padding:5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.p12b2b1_img{
	width: 1000px;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)),url(img20.jpg);
    background-size: cover;
    background-position: center center;
}
.part_12_box_2_box_2{
	/*border:1px solid red;*/
	/*transform:scale(.8);*/
	position: absolute;
    top: 365px;
    left: 115px; 
    background-color: white;
    display: inline-block;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0px 0px 25px rgba(0,0,0,.2);
}
.part_12_box_2_box_2 h1{
	font-size: 55px;
    font-family: 'Lobster',cursive;
    font-weight: 100;
}
.part_12_box_2_box_2 p{
	margin-top: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
}
.part_13{
	/*border:1px solid red;*/
	padding-top:15%;
	padding-bottom:5%;
	background-color:rgba(255, 242, 230, .5);
}
.part_13 h4{
	font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 4px;
    text-align: center;
}
.part_13 h1{
	font-family: 'Lobster',cursive;
    font-size: 85px;
    font-weight: 100;
    text-align: center;
}
.part_14{
	/*border:1px solid red;*/
	padding-top:10%;
	padding-left:10%;
	background-color: rgba(255, 242, 230, .5);;
}
.part_14_box_1{
	/*border:1px solid red;*/
	position:relative;
	top:-250px;
	left:80px;
	background-color:white;
	display:inline-block;
	padding-left:60px;
	padding-right:60px;
	padding-top:80px;
	padding-bottom:80px;
	box-shadow: 0px 0px 25px rgba(0,0,0,.2);
}
.part_14_box_1 h1{
	font-size:65px;
	font-family:'Lobster',cursive;
	font-weight:100;
}
.part_14_box_1 p{
	margin-top: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
}
.part_14_box_1 h4{
	color:red;
	margin-top:50px;
	letter-spacing:2px;
	font-family:sans-serif;
	opacity:.6;
	transition:.2s all linear;
}
.part_14_box_1 h4:hover{
	opacity:1;
	cursor:pointer;
}
.part_14_box_2{
	background-color:white;
	display:inline-block;
	padding:5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.part_14_box_2_img{
	width: 900px;
    height: 1000px;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)),url(img22.jpg);
    background-size: cover;
    background-position: center center;
}
.part_15{
	/*border:1px solid red;*/
	padding-top:10%;
	padding-left:10%;
	background-color: rgba(255, 242, 230, .5);;
}
.part_15_box_1{
	/*border:1px solid red;*/
	position:relative;
	top:-250px;
	left:80px;
	background-color:white;
	display:inline-block;
	padding-left:60px;
	padding-right:60px;
	padding-top:80px;
	padding-bottom:80px;
	box-shadow: 0px 0px 25px rgba(0,0,0,.2);
}
.part_15_box_1 h1{
	font-size:65px;
	font-family:'Lobster',cursive;
	font-weight:100;
}
.part_15_box_1 p{
	margin-top: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
}
.part_15_box_1 h4{
	color:red;
	margin-top:50px;
	letter-spacing:2px;
	font-family:sans-serif;
	opacity:.6;
	transition:.2s all linear;
}
.part_15_box_1 h4:hover{
	opacity:1;
	cursor:pointer;
}
.part_15_box_2{
	background-color:white;
	display:inline-block;
	padding:5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.part_15_box_2_img{
	width: 900px;
    height: 1000px;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)),url(img23.jpg);
    background-size: cover;
    background-position: center center;
}
.part_16{
	/*border:1px solid red;*/
	padding-top:10%;
	padding-left:10%;
	padding-bottom:8%;
	background-color: rgba(255, 242, 230, .5);;
}
.part_16_box_1{
	/*border:1px solid red;*/
	position:relative;
	top:-250px;
	left:80px;
	background-color:white;
	display:inline-block;
	padding-left:60px;
	padding-right:60px;
	padding-top:80px;
	padding-bottom:80px;
	box-shadow: 0px 0px 25px rgba(0,0,0,.2);
}
.part_16_box_1 h1{
	font-size:65px;
	font-family:'Lobster',cursive;
	font-weight:100;
}
.part_16_box_1 p{
	margin-top: 80px;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
}
.part_16_box_1 h4{
	color:red;
	margin-top:50px;
	letter-spacing:2px;
	font-family:sans-serif;
	opacity:.6;
	transition:.2s all linear;
}
.part_16_box_1 h4:hover{
	opacity:1;
	cursor:pointer;
}
.part_16_box_2{
	background-color:white;
	display:inline-block;
	padding:5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
.part_16_box_2_img{
	width: 900px;
    height: 1000px;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)),url(img24.jpg);
    background-size: cover;
    background-position: center center;
}
.footer{
	/*border:1px solid red;*/
	padding-top:8%;
	padding-left:5%;
	padding-right:10%;
}
.footer_container{
	display:flex;
	padding-top:10%;
	padding-bottom:5%;
	justify-content: space-between;
	border-top:1px solid rgba(0,0,0, .2);
	border-bottom:1px solid rgba(0,0,0, .2);
}
.footer_box_1{
	/*border:1px solid red;*/
	display:inline-block;
	flex-shrink:0;
}
.footer_box_1 h1{
	font-family:'Lobster',cursive;
	font-weight:100;
	font-size:35px;
}
.footer_box_1 p{
	margin-top: 80px;
    text-align: justify;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1.8;
    color:rgba(0,0,0,.6);
}
.footer_box_1 h4{
	display:inline-block;
	color:white;
	font-size:12px;
	padding:20px 40px;
	background-color:rgba(255,0,0,.5);
	transition:.2s all linear;
	font-family:sans-serif;
	letter-spacing:2px;
}
.footer_box_1 h4:hover{
	cursor:pointer;
	background-color:rgba(255,0,0,1);
}
.footer_box_2{
	/*border:1px solid red;*/
	display:flex;
	flex-direction:row;
	flex-shrink:0;
}
.footer_box_2_box_1{
	display:inline-block;
	/*border:1px solid red;*/
	margin-right:50px;
}
.footer_box_2_box_1 h1{
	font-family:'Lobster',cursive;
	font-weight:100;
	font-size:35px;
}
.footer_box_2_box_1 h4{
	font-size:25px;
	font-weight:100;
}
.footer_box_2_box_1 h4 i{
	opacity:.2;
	margin-right:15px;
	transition:.2s all linear;
}
.footer_box_2_box_1 h4 i:hover{
	cursor:pointer;
	opacity:1;
}
.footer_box_2_box_1 h3{
	font-weight:100;
	font-family:sans-serif;
	color:rgba(0,0,0,.6);
}
.footer_box_2_box_2{
	display: inline-block;
	/*border:1px solid red;*/
}
.footer_box_2_box_2 h1{
	font-family:'Lobster',cursive;
	font-weight:100;
	font-size:35px;
}
.footer_box_2_box_2 h3{
	font-weight:100;
	font-family:sans-serif;
	color:rgba(0,0,0,.6);
}
.footer_foot{
	/*border:1px solid red;*/
	display:flex;
	justify-content:space-between;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:5%;
}
.footer_foot div h3{
	color:rgba(0,0,0,.4);
	font-family:sans-serif;
	font-weight:100;
	display:inline-block;
	margin-right:20px;
}
.part_17{
	border:1px solid red;
	padding-top:10%;
	padding-left:10%;
	padding-bottom:5%;
}
.part_17_box_1{
	border:1px solid red;
}
.part_17_box_1 h4{
	font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 4px;
    text-align: left;
}
.part_17_box_1 h1{
	font-family: 'Lobster',cursive;
    font-size: 85px;
    font-weight: 100;
    text-align: left;
}
.part_17_box_2{
	border:1px solid red;
	padding:5px;
}
/*.p17b2_1_hover{
	background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)),url(img24.jpg);
}*/
.p17b2_1{
	border:1px solid red;
	width:200px;
	height:200px;
	position:relative;
	background:url(img24.jpg);
}
.p17b2_1:hover{
	cursor:pointer;
}
.p17b2_1_i{
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	/*display:flex;
	justify-content: center;
	align-items: center;*/
	background-color:rgba(150, 150, 150, 0.2);
	display: none;
	transition:.2s all linear;
}
.p17b2_1_i_h{
	display:flex;
	justify-content: center;
	align-items: center;
	transition:.2s all linear;
}
.p17b2_1_i h3{
	color:white;
	font-size:35px;
}