body{
	margin:0px;
	padding:0px;
	position:relative;
}
.nav_c{
	background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("img1.jpg");
	background-size:cover;
	background-position:center center;
}
.nav_n{
	/*border:1px solid red;*/
	display:flex;
	padding:20px 30px;
	padding-top:30px;
	justify-content:space-between;
	color:white;
	position:fixed;
	top:-100px;
	width:96.8%;
	z-index:10;
	transition:.5s all linear;
}
.nav{
	/*border:1px solid red;*/
	display:flex;
	padding:20px 30px;
	padding-top:30px;
	justify-content:space-between;
	color:white;
}
.nav_1{
	background-color:black;
	top:0px;
}
.nav_box_1{
	/*border:1px solid red;*/
	flex-shrink:0;
	margin:0px;
	display:flex;
	align-items:center;
}
.nav_box_1 h2{
	font-family:'Alata',sans-serif;
	margin:0px;
	margin-right:25px;
	font-weight:500;
}
.nav_box_1 h4{
	/*border:1px solid red;*/
	font-weight:100;
	font-family:'Roboto',sans-serif;
	margin:0px;
	margin-left:10px;
	margin-right:10px;
	transition:.2s all linear;
	color:rgba(255,255,255,.8);
}
.nav_box_1 h4:hover{
	color:rgba(255,255,255,1);
	cursor:pointer;
}
.nav_box_1 h4 i{
	margin-left:10px;
}
.nav_box_2{
	margin:0px;
	/*border:1px solid red;*/
	display:flex;
	align-items:center;
}
.nav_box_2 a{
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	padding:10px 25px;
}
.nav_box_2 a:first-child{
	color:white;
	text-decoration:none;
}
.nav_box_2 a:last-child{
	background-color:rgba(0, 128, 255,.7);
	color:white;
	border-radius:20px;
	transition:.2s all linear;
}
.nav_box_2 a:last-child:hover{
	cursor:pointer;
	background-color:rgba(0, 128, 255,1);
}
.part_1{
	/*border:1px solid red;*/
	color:white;
	padding-bottom:50px;
	padding-left:400px;
	/*margin-top:-50px;*/
}
.part_1_box{
	/*border:1px solid red;*/
	display:inline-block;
	margin-top:150px;
	/*margin-left:200px;*/
}
.part_1_box h1{
	/*border:1px solid red;*/
	font-family: 'Playfair Display', serif;
	font-weight:500;
	font-size:55px;
}
.part_1_box_div{
	/*border:1px solid red;*/
	display:flex;
}
.part_1_box_1{
	/*border:1px solid red;*/
	flex-shrink:0;
	margin-right:50px;
}
.part_1_box_1 p{
	font-family:'Roboto',sans-serif;
	line-height:1.5;
	font-size:20px;
	font-weight:100;
}
.part_1_box_2{
	/*border:1px solid red;*/
	flex-shrink:0;
	display:flex;
	align-items:center;
	justify-content:center;
	padding:20px;
}
.p1b2_box{
	border:2px solid white;
	background-color:rgba(255,255,255,.2);
	padding:5px 10px;
	padding-right:5px;
	border-radius:35px;
	font-family:'Roboto',sans-serif;
	color:white;
	display:flex;
	align-items:center;
}
.p1b2_box h3:first-child{
	/*color:black;*/
	display:inline-block;
	margin:0px;
	margin-right:120px;
	font-size:18px;
	font-weight:500;
	margin-left:10px;
}
.p1b2_box h3:last-child{
	color:white;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:rgba(0, 128, 255,1);
	transition:.2s all linear;
	margin:0px;
	font-size:20px;
	box-sizing:border-box;
	width:70px;
	height:50px;
	border-radius:25px;
}
.p1b2_box h3:last-child:hover{
	cursor:pointer;
	color:rgba(0, 128, 255,1);
	background-color:white;
}
.part_1_div{
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	display:flex;
	justify-content:flex-start;
	margin-top:150px;
}
.part_1_div_1{
	/*border:1px solid red;*/
	display:flex;
	align-items:center;
	margin-right:100px;
}
.part_1_div_1 h1:first-child{
	/*border:1px solid red;*/
	display:inline-block;
	color:white;
	margin-right:25px;
	height:200px;
}
.part_1_div_1 h1:last-child{
	/*border:1px solid red;*/
	display:inline-block;
	padding-left:25px;
	color:white;
	border-left:2px solid white;
	font-weight:500;
	height:200px;
}
.part_1_div_1 h1:last-child span{
	font-size:20px;
	color:rgba(255,255,255,.8);
	margin-top:-20px;
}
.part_1_div_2{
	/*border:1px solid red;*/
	display:flex;
	align-items:center;
	margin-right:100px;
	position:relative;
	top:-100px;
}
.part_1_div_2 h1:first-child{
	/*border:1px solid red;*/
	display:inline-block;
	color:white;
	margin-right:25px;
	height:200px;
}
.part_1_div_2 h1:last-child{
	/*border:1px solid red;*/
	display:inline-block;
	padding-left:25px;
	color:white;
	border-left:2px solid white;
	font-weight:500;
	height:200px;
}
.part_1_div_2 h1:last-child span{
	font-size:20px;
	color:rgba(255,255,255,.8);
	margin-top:-20px;
}
.part_1_div_3{
	/*border:1px solid red;*/
	display:flex;
	align-items:center;
	margin-right:100px;
}
.part_1_div_3 h1:first-child{
	/*border:1px solid red;*/
	display:inline-block;
	color:white;
	margin-right:25px;
	height:200px;
}
.part_1_div_3 h1:last-child{
	/*border:1px solid red;*/
	display:inline-block;
	padding-left:25px;
	color:white;
	border-left:2px solid white;
	font-weight:500;
	height:200px;
}
.part_1_div_3 h1:last-child span{
	font-size:20px;
	color:rgba(255,255,255,.8);
	margin-top:-20px;
}
.part_2{
	/*border:1px solid red;*/
	padding:50px 300px;
	padding-left:400px;
	background-color:black;
	box-shadow: inset 0px 0px 35px rgba(0,0,0,.5);
}
.part_2_box_1{
	/*border:1px solid red;*/
	margin-bottom:25px;
}
.part_2_box_1 h3{
	color:rgba(255,255,255,.8);
	font-weight:500;
	text-align:center;
	font-family:'Roboto',sans-serif;
}
.part_2_box_2{
	/*border:1px solid red;*/
	display:flex;
	justify-content:space-between;
	padding-bottom:30px;
}
.part_2_box_2 h1{
	/*border:1px solid red;*/
	flex-shrink:0;
	font-weight:500;
	display:flex;
	align-items:center;
	color:rgba(255,255,255,.8);
}
.part_3{
	/*border:1px solid red;*/
	padding:50px 300px;
	padding-top:150px;
}
.part_3_box_1{
	/*border:1px solid red;*/
}
.part_3_box_1 h1{
	/*border:1px solid red;*/
	font-family: 'Playfair Display', serif;
	line-height:1.5;
	margin:0px;
	text-align:center;
}
.part_3_box_1 h3{
	font-family:'Roboto',sans-serif;
	/*border:1px solid red;*/
	line-height:1.8;
	color:rgba(0,0,0,.5);
	font-weight:500;
	margin:0px;
	text-align:center;
	margin-top:25px;
}
.part_3_box_2{
	/*border:1px solid red;*/
	display:flex;
	justify-content:space-between;
	margin-top:70px;
}
.part_3_box_2_box_1{
	/*border:1px solid red;*/
	display:inline-block;
}
.part_3_box_2_box_1 h3{
	font-family:'Roboto',sans-serif;
	color:rgba(0,0,0,.5);
}
.p3b2b1{
	border:2px solid rgba(0, 128, 255,1);
	box-sizing:border-box;
	width:30px;
	height:30px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.p3b2b1 div{
	width:5px;
	height:5px;
	background-color:rgba(0, 128, 255,1);
}
.part_3_box_2_box_2{
	/*border:1px solid red;*/
	display:inline-block;
	text-align:center;
}
.part_3_box_2_box_2 h3{
	font-family:'Roboto',sans-serif;
	color:rgba(0,0,0,.5);
}
.p3b2b2_d{
	display:flex;
	justify-content:center;
}
.p3b2b2{
	border:2px solid rgba(0, 128, 255,1);
	box-sizing:border-box;
	width:30px;
	height:30px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.p3b2b2 div{
	width:5px;
	height:5px;
	background-color:rgba(0, 128, 255,1);
}
.part_3_box_2_box_3{
	/*border:1px solid red;*/
	display:inline-block;
	text-align:center;
}
.part_3_box_2_box_3 h3{
	font-family:'Roboto',sans-serif;
	color:rgba(0,0,0,.5);
}
.p3b2b3_d{
	display:flex;
	justify-content:center;
}
.p3b2b3{
	border:2px solid rgba(0, 128, 255,1);
	box-sizing:border-box;
	width:30px;
	height:30px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.p3b2b3 div{
	width:5px;
	height:5px;
	background-color:rgba(0, 128, 255,1);
}
.part_3_box_2_box_4{
	/*border:1px solid red;*/
	display:inline-block;
	text-align:center;
}
.p3b2b4_d{
	display:flex;
	justify-content:flex-end;
}
.part_3_box_2_box_4 h3{
	font-family:'Roboto',sans-serif;
	color:rgba(0,0,0,.5);
}
.p3b2b4{
	border:2px solid rgba(0, 128, 255,1);
	box-sizing:border-box;
	width:30px;
	height:30px;
	display:flex;
	align-items:center;
	justify-content:center;
}
.p3b2b4 div{
	width:5px;
	height:5px;
	background-color:rgba(0, 128, 255,1);
}
.part_4{
	/*border:1px solid red;*/
	text-align:center;
	padding:0px 400px;
}
.part_4_box_1{
	/*border:1px solid red;*/
	margin-top:50px;
	box-shadow:0px 0px 20px rgba(150,150,150,.5);
	z-index:50;
}
.p4b1_nav{
	/*border:1px solid red;*/
	padding:15px 20px;
	display:flex;
	justify-content:space-between;
	background-color:black;
}
.p4b1_nav h3{
	color:white;
	margin:0px;
	display:flex;
	align-items:center;
	font-family:'Roboto',sans-serif;
}
.p4b1_nav h3 div{
	box-sizing:border-box;
	background-color:white;
	width:42px;
	height:2.5px;
	margin-right:25px;
}
.p4b1_div{
	/*border:1px solid red;*/
	display:flex;
	/*z-index:2;*/
}
.p4b1_div_form{
	/*border:1px solid red;*/
	flex-shrink:0;
	flex-basis:40%;
	padding:30px 50px;
	padding-bottom:60px;
}
.p4b1_div_form h2{
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	text-align:left;
}
.p4b1_div_form div{
	/*border:1px solid red;*/
	display:flex;
}
.p4b1df_1 input{
	flex-shrink:0;
	width:150px;
	border:1px solid red;
	padding:15px 15px;
	border-radius:30px;
	font-family:'Roboto',sans-serif;
	font-size:20px;
	border:1.5px solid black;
	margin-right:15px;
	opacity:.6;
}
.p4b1df_3{
	text-align:left;
}
.p4b1df_3 h4{
	font-family:'Roboto',sans-serif;
	color:rgba(0, 128, 255,1);
	font-size:18px;
	padding:15px 20px;
	border-radius:25px;
	display:inline-block;
	margin:0px;
	margin-top:25px;
	border:2px solid rgba(0, 128, 255,1);
	font-weight:500;
	margin-top:70px;
}
.p4b1df_2{
	margin-top:15px;
}
.p4b1df_2 input{
	width:95%;
	padding:15px 15px;
	border-radius:30px;
	font-family:'Roboto',sans-serif;
	font-size:20px;
	border:1.5px solid black;
	opacity:.6;
}
.p4b1_div_img{
	/*border:1px solid red;*/
	flex-shrink:0;
	/*width:400px;*/
	flex-basis:41.2%;
	padding:30px 50px;
	background:url("img2.jpg");
	background-size:cover;
	background-position:center center;
}
.part_4_box_2{
	/*border:1px solid red;*/
	position:relative;
}
.part_4_box_2 h4{
	display:inline-block;
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	color:white;
	background-color:rgba(0, 128, 255,1);
	font-weight:500;
	margin:0px;
	margin-top:100px;
	margin-bottom:130px;
	padding:18px 30px;
	border-radius:28px;
	font-size:20px;
	transition:.2s all linear;
}
.part_4_box_2 h4:hover{
	cursor:pointer;
	background-color:black;
}
.part_5{
	/*border:1px solid red;*/
	display:flex;
	padding:150px 400px;
	padding-right:0px;
	background-color:black;
	margin-left: 20px;
    margin-right: 20px;
}
.part_5_box_1{
	/*border:1px solid red;*/
	display:flex;
	align-items:center;
}
.part_5_box_1 h2{
	font-family:'Playfair Display', serif;
	font-weight:500;
	margin:0px;
	color:white;
	/*border:1px solid red;*/
	line-height:1.5;
	font-size:45px;
}
.part_5_box_1 p{
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	font-weight:500;
	line-height:1.8;
	color:rgba(255,255,255,.6);
	font-size:18px;
	margin-top:30px;
}
.part_5_box_1 h4{
	/*border:1px solid red;*/
	display:inline-block;
	font-family:'Roboto',sans-serif;
	margin:0px;
	margin-top:30px;
	font-weight:500;
	color:white;
	background-color:rgba(0, 128, 255,1);
	padding:18px 30px;
	border-radius:30px;
	font-size:20px;
	transition:.2s all linear;
}
.part_5_box_1 h4:hover{
	cursor:pointer;
	background-color:white;
	color:black;
}
.part_5_box_2{
	/*border:1px solid red;*/
	margin-left:150px;
}
.part_5_box_2_box_1{
	/*border:1px solid red;*/
	display:flex;
	justify-content:space-between;
	margin-bottom:70px;
}
.p5b2b1_1{
	/*border:1px solid red;*/
	display:inline-block;
	margin-right:150px;
}
.p5b2b1_1 h2{
	color:white;
	font-size:45px;
	position:relative;
	margin:0px;
	text-align:center;
	/*border:1px solid red;*/
}
.p5b2b1_1 h2 span{
	position:absolute;
	width:30px;
	height:30px;
	top:0px;
	right:60px;
	background-color:rgba(255, 128, 128,.7);
}
.p5b2b1_1 h3{
	color:white;
	font-family: 'Playfair Display', serif;
	font-weight:500;
	margin:0px;
	margin-top:20px;
	text-align:center;
	font-size:20px;
}
.p5b2b1_1 p{
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	font-weight:100;
	line-height:1.8;
	color:rgba(255,255,255,.6);
	font-size:18px;
	margin-top:30px;
	text-align:center;
	margin-top:10px;
}
.p5b2b1_2{
	/*border:1px solid red;*/
	display:inline-block;
}
.p5b2b1_2 h2{
	color:white;
	font-size:45px;
	position:relative;
	margin:0px;
	text-align:center;
	/*border:1px solid red;*/
}
.p5b2b1_2 h2 span{
	position:absolute;
	width:30px;
	height:30px;
	top:-6px;
	right:76px;
	background-color:rgba(255, 128, 128,.7);
}
.p5b2b1_2 h3{
	color:white;
	font-family: 'Playfair Display', serif;
	font-weight:500;
	margin:0px;
	margin-top:20px;
	text-align:center;
	font-size:20px;
}
.p5b2b1_2 p{
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	font-weight:100;
	line-height:1.8;
	color:rgba(255,255,255,.6);
	font-size:18px;
	margin-top:30px;
	text-align:center;
	margin-top:10px;
}
.part_5_box_2_box_2{
	/*border:1px solid red;*/
	display:flex;
	justify-content:space-between;
}
.p5b2b2_1{
	/*border:1px solid red;*/
	display:inline-block;
	margin-right:150px;
}
.p5b2b2_1 h2{
	color:white;
	font-size:45px;
	position:relative;
	margin:0px;
	text-align:center;
	/*border:1px solid red;*/
}
.p5b2b2_1 h2 span{
	position:absolute;
	width:30px;
	height:30px;
	top:-6px;
	right:66px;
	background-color:rgba(255, 128, 128,.7);
}
.p5b2b2_1 h3{
	color:white;
	font-family: 'Playfair Display', serif;
	font-weight:500;
	margin:0px;
	margin-top:20px;
	text-align:center;
	font-size:20px;
}
.p5b2b2_1 p{
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	font-weight:100;
	line-height:1.8;
	color:rgba(255,255,255,.6);
	font-size:18px;
	margin-top:30px;
	text-align:center;
	margin-top:10px;
}
.p5b2b2_2{
	/*border:1px solid red;*/
	display:inline-block;
}
.p5b2b2_2 h2{
	color:white;
	font-size:45px;
	position:relative;
	margin:0px;
	text-align:center;
	/*border:1px solid red;*/
}
.p5b2b2_2 h2 span{
	position:absolute;
	width:30px;
	height:30px;
	top:-6px;
	right:60px;
	background-color:rgba(255, 128, 128,.7);
}
.p5b2b2_2 h3{
	color:white;
	font-family: 'Playfair Display', serif;
	font-weight:500;
	margin:0px;
	margin-top:20px;
	text-align:center;
	font-size:20px;
}
.p5b2b2_2 p{
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	font-weight:100;
	line-height:1.8;
	color:rgba(255,255,255,.6);
	font-size:18px;
	margin-top:30px;
	text-align:center;
	margin-top:10px;
}
.part_6{
	/*border:1px solid red;*/
	padding:50px 400px;
	padding-left:400px;
	padding-top:150px;
	box-sizing:border-box;
	height:800px;
}
.part_6_box{
	/*border:1px solid red;*/
	position:relative;
}
.part_6_box_1{
	/*border:1px solid red;*/
	position:absolute;
	top:0px;
	display:flex;
	box-sizing:border-box;
	width:1063px;
	height:499px;
	background-color:white;
	z-index:1;
	transition:.2s all linear;
}
.part_6_box_1_1{
	z-index:2;
}
.part_6_box_1_box_1{
	/*border:1px solid red;*/
	display:flex;
	margin-right:100px;
}
.p6b1b1_1{
	/*border:1px solid red;*/
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	justify-content:flex-end;
	margin-right:25px;
}
.p6b1b1_1_1{
	/*border:1px solid red;*/
	width:100px;
	height:100px;
	margin-bottom:25px;
	background:url("img5.jpg");
	background-size:cover;
	background-position:center center;
	filter:grayscale(100%);
}
.p6b1b1_1_2{
	/*border:1px solid red;*/
	width:170px;
	height:170px;
	background:url("img4.jpg");
	background-size:cover;
	background-position:center center;
	filter:grayscale(100%);
}
.p6b1b1_1 h4{
	display:inline-block;
	border:1.5px solid black;
	padding:10px 20px;
	color:black;
	border-radius:20px;
	transition:.2s all linear;
	margin-top:25px;
}
.p6b1b1_1 h4:hover{
	cursor:pointer;
	border:1.5px solid rgba(0, 128, 255,1);
	color:rgba(0, 128, 255,1);
}
.p6b1b1_2{
	/*border:1px solid red;*/
	box-sizing:border-box;
	padding:15px;
	width:250px;
	background:url("img3.jpg");
	background-size:cover;
	background-position:center center;
}
.p6b1b1_2 div{
	/*border:1px solid red;*/
	box-sizing:border-box;
	padding-left:15px;
	width:120px;
	height:120px;
	display:flex;
	align-items:flex-end;
	background-color:white;
}
.p6b1b1_2 div h4{
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	font-size:18px;
	font-weight:500;
}
.p6b1b1_2 div h4 span{
	font-size:15px;
	color:rgba(0,0,0,.8);
}
.part_6_box_1_box_2{
	/*border:1px solid red;*/
}
.part_6_box_1_box_2 h5{
	color:rgba(255, 26, 26);
	font-family:'Roboto',sans-serif;
	margin:0px;
	font-size:20px;
	font-weight:500;
}
.part_6_box_1_box_2 h3{
	/*border:1px solid red;*/
	font-family: 'Playfair Display', serif;
	margin:0px;
	font-size:45px;
	font-weight:500;
	margin-top:15px;
}
.part_6_box_1_box_2 p{
	font-family:'Roboto',sans-serif;
	line-height:1.5;
	font-size:18px;
}
.p6b1b2_d{
	/*border:1px solid red;*/
	display:flex;
	margin-top:35px;
}
.p6b1b2_d_1{
	display:inline-block;
	/*border:1px solid red;*/
	margin-right:120px;
}
.p6b1b2_d_1 div{
	box-sizing:border-box;
	background-color:rgba(0, 128, 255,1);
	width:20px;
	height:20px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.p6b1b2_d_1 div span{
	box-sizing:border-box;
	width:6px;
	height:6px;
	background-color:white;
}
.p6b1b2_d_1 p{
	/*border:1px solid red;*/
	line-height:1.5;
	font-family:'Roboto',sans-serif;
	font-size:16px;
}
.p6b1b2_d_2{
	display:inline-block;
	/*border:1px solid red;*/
}
.p6b1b2_d_2 div{
	box-sizing:border-box;
	background-color:rgba(0, 128, 255,1);
	width:20px;
	height:20px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.p6b1b2_d_2 div span{
	box-sizing:border-box;
	width:6px;
	height:6px;
	background-color:white;
}
.p6b1b2_d_2 p{
	/*border:1px solid red;*/
	line-height:1.5;
	font-family:'Roboto',sans-serif;
	font-size:16px;
}
.part_6_box_1_box_2 h4{
	display:inline-block;
	color:white;
	font-family:'Roboto',sans-serif;
	font-size:20px;
	font-weight:500;
	background-color:rgba(0, 128, 255,1);
	padding:20px 25px;
	border-radius:30px;
	margin-top:30px;
	transition:.2s all linear;
}
.part_6_box_1_box_2 h4:hover{
	background-color:black;
	cursor:pointer;
}
.part_6_box_2{
	/*border:1px solid red;*/
	position:absolute;
	top:0px;
	display:flex;
	box-sizing:border-box;
	width:1063px;
	height:499px;
	background-color:white;
	z-index:2;
	transition:.2s all linear;
}
.part_6_box_2_1{
	z-index:1;
}
.p6b1b2_1_1{
	/*border:1px solid red;*/
	width:100px;
	height:100px;
	margin-bottom:25px;
	background:url("img3.jpg");
	background-size:cover;
	background-position:center center;
	filter:grayscale(100%);
}
.p6b1b2_1_2{
	/*border:1px solid red;*/
	width:170px;
	height:170px;
	background:url("img4.jpg");
	background-size:cover;
	background-position:center center;
	filter:grayscale(100%);
}
.p6b1b2_2{
	/*border:1px solid red;*/
	box-sizing:border-box;
	padding:15px;
	width:250px;
	background:url("img5.jpg");
	background-size:cover;
	background-position:center center;
}
.p6b1b2_2 div{
	/*border:1px solid red;*/
	box-sizing:border-box;
	padding-left:15px;
	width:120px;
	height:120px;
	display:flex;
	align-items:flex-end;
	background-color:white;
}
.p6b1b2_2 div h4{
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	font-size:18px;
	font-weight:500;
}
.p6b1b2_2 div h4 span{
	font-size:15px;
	color:rgba(0,0,0,.8);
}
.cookies{
	/*border:1px solid red;*/
	/*padding:25px 35px;*/
	padding:10px 0px;
	position:fixed;
	bottom:40px;
	left:335px;
	display:flex;
	justify-content: center;
	align-items:center;
	box-sizing:border-box;
	width:1250px;
	box-shadow:0px 0px 25px rgba(0,0,0,.5);
	z-index:100;
	background-color:white;
	transition:.2s all linear;
}
.cookies_i{
	opacity:0;
	pointer-events:none;
}
.cookies_1{
	/*border:1px solid red;*/
	margin:0px;
	margin-right:200px;
}
.cookies_1 p{
	font-weight:100;
	font-family:'Roboto',sans-serif;
	color:black;
	line-height:1.5;
	font-size:15px;
}
.cookies_2{
	/*border:1px solid red;*/
	display:flex;
	align-items:center;
	margin:0px;
}
.cookies_2 h4:first-child{
	display: inline-block;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin:0px;
    background-color: rgba(0, 128, 255,1);
    padding: 15px 35px;
    border-radius: 30px;
    margin-right:20px;
    transition: .2s all linear;
}
.cookies_2 h4:first-child:hover{
	cursor:pointer;
	background-color:black;
}
.cookies_2 h4:last-child{
	margin:0px;
	font-size:25px;
}
.cut{
	display:inline-block;
	opacity:.6;
	transition:.2s all linear;
}
.cut:hover{
	cursor:pointer;
	opacity:1;
}
.part_7{
	/*border:1px solid red;*/
	padding:50px 400px;
	padding-top:25px;
	padding-bottom:100px;
	font-family:'Roboto',sans-serif;
}
.part_7 h3{
	font-weight:500;
	text-align:center;
	margin-bottom:45px;
}
.part_7_box{
	/*border:1px solid red;*/
	display:flex;
	justify-content:center;
}
.part_7_box div{
	/*border:1px solid red;*/
	flex-shrink:0;
	margin-left:25px;
	margin-right:25px;
	box-sizing:border-box;
	width:80px;
	height:50px;
}
.part_7_box_1{
	background:url("flag_1.png");
	background-size:cover;
	background-position:center center;
}
.part_7_box_2{
	background:url("flag_2.png");
	background-size:cover;
	background-position:center center;
}
.part_7_box_3{
	background:url("flag_3.png");
	background-size:cover;
	background-position:center center;
}
.part_7_box_4{
	background:url("flag_4.png");
	background-size:cover;
	background-position:center center;
}
.part_7_box_5{
	background:url("flag_5.png");
	background-size:cover;
	background-position:center center;
}
.part_7_box_6{
	background:url("flag_6.png");
	background-size:cover;
	background-position:center center;
}
.part_7_box_7{
	background:url("flag_7.png");
	background-size:cover;
	background-position:center center;
}
.part_8{
	/*border:1px solid red;*/
	background-color:rgba(240, 240, 245,1);
	margin-left: 20px;
    margin-right: 20px;
}
.part_8_box_1{
	/*border:1px solid red;*/
	position:relative;
	height:200px;
}
.part_8_box_1 div:first-child{
	/*border:1px solid red;*/
	position:absolute;
	top:0px;
	left:0px;
	box-sizing:border-box;
	width:215px;
	height:130px;
	background-color:rgba(255, 243, 204,1);
}
.part_8_box_1 div:last-child{
	/*border:1px solid red;*/
	box-sizing:border-box;
	width:60px;
	height:60px;
	position:absolute;
	top:90px;
	left:175px;
	background-color:rgba(255,255,255,.8);
}
.part_8_box_2{
	/*border:1px solid red;*/
	position:relative;
	margin-top:70px;
	padding-left:400px;
	padding-right:400px;
	height:400px;
}
.part_8_box_2_box_1{
	/*border:1px solid red;*/
	display:flex;
	position:absolute;
	top:0px;
	z-index:2;
	background-color:rgba(240, 240, 245,1);
}
.part_8_box_2_box_1_1{
	z-index:1;
}
.p8b2b1_1{
	/*border:1px solid red;*/
	flex-shrink:0;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-end;
	margin-right:100px;
}
.p8b2b1_1 h5{
	font-weight:500;
	color:rgba(255, 26, 26);
	/*border:1px solid red;*/
	font-family:'Roboto',sans-serif;
	font-size:20px;
	margin:0px;
	margin-bottom:15px;
}
.p8b2b1_1 h1{
	/*border:1px solid red;*/
	font-weight:500;
	font-family:'Playfair Display', serif;
	line-height:1.5;
	font-size:35px;
	margin:0px;
	margin-top:15px;
	text-align:right;
}
.p8b2b1_1 h4{
	border:1.5px solid black;
	display:inline-block;
	padding:10px 20px;
	border-radius:20px;
	text-align:center;
	margin:0px;
	margin-top:25px;
	transition:.2s all linear;
}
.p8b2b1_1 h4:hover{
	cursor:pointer;
	border:1.5px solid rgba(0, 128, 255,1);
	color:rgba(0, 128, 255,1);
}
.p8b2b1_2{
	/*border:1px solid red;*/
}
.p8b2b1_2 h5{
	color:black;
	font-weight:500;
	font-weight:500;
	font-family:'Roboto',sans-serif;
	font-size:18px;
	margin:0px;
	margin-bottom:30px;
}
.p8b2b1_2 p{
	font-weight:500;
	line-height:1.5;
	font-family:'Playfair Display', serif;
	font-size:25px;
}
.p8b2b1_2 h3{
	display: inline-block;
    color: white;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(0, 128, 255,1);
    padding: 20px 25px;
    border-radius: 30px;
    margin-top: 15px;
    transition: .2s all linear;
}
.p8b2b1_2 h3:hover{
	cursor:pointer;
	background-color:black;
}
.part_8_box_2_box_2{
	/*border:1px solid red;*/
	display:flex;
	position:absolute;
	top:0px;
	box-sizing:border-box;
	width:951px;
	height:360px;
	z-index:1;
	background-color:rgba(240, 240, 245,1);
}
.part_8_box_2_box_2_1{
	z-index:2;
}
.part_9{
	/*border:1px solid red;*/
	padding:100px 400px;
	padding-bottom:70px;
	display:flex;
	justify-content:center;
}
.part_9_box_1{
	/*border:1px solid red;*/
	flex-shrink:0;
	width:400px;
}
.part_9_box_1_box_1{
	/*border:1px solid red;*/
	display:flex;
	justify-content:flex-start;
	margin-top:70px;
	margin-bottom:40px;
}
.part_9_box_1_box_1 div{
	box-sizing:border-box;
	width:150px;
	height:150px;
	/*border:1px solid red;*/
	border-radius:50%;
	border-radius:505;
	background:url("img6.png");
	background-size:cover;
	background-position:center center;
	box-shadow:0px 0px 25px rgba(180,180,180,.5);
}
.part_9_box_1_box_2{
	/*border:1px solid red;*/
	position:relative;
	display:flex;
	align-items:center;
	/*margin-bottom:25px;*/
}
.p9b1b2_1{
	/*border:1px solid red;*/
	box-sizing:border-box;
	width:150px;
	height:150px;
	position:relative;
	top:0px;
	background-color:rgba(255, 153, 153,1);
}
.p9b1b2_2{
	/*border:1px solid red;*/
	box-sizing:border-box;
	width:70px;
	height:70px;
	position:relative;
	top:-30px;
	left:-30px;
	background-color:rgba(255, 153, 153,.6);
}
.p9b1b2_3{
	/*border:1px solid red;*/
	box-sizing:border-box;
	width:45px;
	height:45px;
	position:relative;
	top:-50px;
	left:-50px;
	background-color:rgba(255, 153, 153,.4);
}
.part_9_box_1_box_3{
	/*border:1px solid red;*/
	display:flex;
	justify-content:flex-end;
	margin-top:-100px;
}
.part_9_box_1_box_3 div{
	/*border:1px solid red;*/
	box-sizing:border-box;
	width:170px;
	height:170px;
	border-radius:50%;
	background:url("img7.png");
	background-size:cover;
	background-position:center center;
	box-shadow:0px 0px 25px rgba(180,180,180,.5);
}
.part_9_box_2{
	/*border:1px solid red;*/
	flex-shrink:0;
	margin-left:70px;
	display:flex;
	align-items:center;
}
.part_9_box_2 h2{
	font-weight:500;
	font-size:35px;
	font-family: 'Playfair Display', serif;
}
.part_9_box_2 p{
	font-weight:500;
	font-family:'Roboto',sans-serif;
	line-height:1.5;
	color:rgba(150,150,150,.5);
	font-size:18px;
}
.part_9_box_2 h4{
	/*border:1px solid red;*/
	font-weight:500;
	display:inline-block;
	background-color:rgba(0, 128, 255,1);
	color:white;
	padding:15px 25px;
	border-radius:25px;
	font-family:'Roboto',sans-serif;
	transition:.2s all linear;
}
.part_9_box_2 h4:hover{
	cursor:pointer;
	background-color:black;
}
.part_10{
	/*border:1px solid red;*/
	padding:120px 400px;
	padding-bottom:100px;
	display:flex;
	justify-content:center;
	background-color:rgba(240, 240, 245,.4);
}
.part_10_box{
	/*border:1px solid red;*/
	display:inline-block;
}
.part_10_box h1{
	font-weight:500;
	line-height:1.5;
	text-align:center;
	font-size:45px;
	font-family:'Playfair Display', serif;
}
.part_10_box p{
	font-weight:100;
	margin-top:40px;
	font-family:'Roboto',sans-serif;
	text-align:center;
	font-size:18px;
	line-height:1.5;
	color:rgba(180,180,180,1);
	/*border:1px solid red;*/
}
.part_10_box div{
	text-align:center;
}
.part_10_box h4{
	/*border:1px solid red;*/
	font-size:18px;
	color:black;
	margin:0px;
	display:inline-block;
	font-family:'Roboto',sans-serif;
	margin-top:40px;
}
.part_10_box h4 i{
	margin-right:15px;
	transition:.2s all linear;
}
.part_10_box h4:hover{
	cursor:pointer;
}
.part_10_box h4:hover i{
	margin-right:25px;
}
.part_11{
	/*border:1px solid red;*/
	padding:100px 0px;
	padding-bottom:0px;
	display:flex;
	justify-content:space-between;
	background-color:rgba(0, 128, 255,1);
}
.part_11_box_1{
	/*border:1px solid red;*/
	flex-shrink:0;
	position:relative;
}
.part_11_box_1 div:first-child{
	/*border:1px solid red;*/
	box-sizing:border-box;
	width:70px;
	height:70px;
	position:absolute;
	top:-35px;
	left:50px;
	background-color:rgba(255,255,255,.8);
}
.part_11_box_1 div:last-child{
	/*border:1px solid red;*/
	box-sizing:border-box;
	width:100px;
	height:240px;
	position:relative;
	top:0px;
	background-color:rgba(255,255,255,.5);
}
.part_11_box_2{
	/*border:1px solid red;*/
	flex-shrink:0;
	display:flex;
}
.p11b2b_1{
	/*border:1px solid red;*/
	color:white;
	margin-right:100px;
}
.p11b2b_1 h1{
	font-weight:500;
	font-family:'Playfair Display', serif;
	font-size:45px;
	margin:0px;
	margin-top:25px;
}
.p11b2b_1 h4{
	font-weight:100;
	font-family:'Roboto',sans-serif;
	font-size:20px;
	color:rgba(255,255,255,.5);
	margin:0px;
	margin-top:15px;
}
.p11b2b_1 h5{
	/*border:1px solid red;*/
	font-weight:500;
	font-family:'Roboto',sans-serif;
	font-size:18px;
	transition:.2s all linear;
}
.p11b2b_1 h5 span{
	margin-left:15px;
	transition:.2s all linear;
}
.p11b2b_1 h5:hover{
	cursor:pointer;
}
.p11b2b_1 h5:hover span{
	margin-left:25px;
}
.p11b2b_2{
	/*border:1px solid red;*/
	display:flex;
	align-items:center;
}
.p11b2b_2 h4{
	font-family:'Roboto',sans-serif;
	font-weight:500;
	font-size:18px;
	display:inline-block;
	border-radius:25px;
	margin-left:15px;
	margin-right:15px;
}
.p11b2b_2 h4:first-child{
	border:1.5px solid white;
	color:black;
	padding:15px 25px;
	background-color:white;
	transition:.2s all linear;
}
.p11b2b_2 h4:first-child:hover{
	cursor:pointer;
	color:white;
	background-color:transparent;
}
.p11b2b_2 h4:last-child{
	border:1.5px solid white;
	color:white;
	padding:15px 25px;
	background-color:transparent;
	transition:.2s all linear;
}
.p11b2b_2 h4:last-child:hover{
	cursor:pointer;
	color:black;
	background-color:white;
}
.part_11_box_3{
	/*border:1px solid red;*/
	flex-shrink:0;
	position:relative;
}
.part_11_box_3 div:first-child{
	/*border:1px solid red;*/
	box-sizing:border-box;
	position:absolute;
	top:-101px;
	right:0px;
	width:110px;
	height:110px;
	background-color:rgba(255,255,255,.8);
}
.part_11_box_3 div:last-child{
	/*border:1px solid red;*/
	box-sizing:border-box;
	position:absolute;
	top:-20px;
	right:80px;
	width:60px;
	height:60px;
	background-color:rgba(255,255,255,.5);
}
.footer{
	/*border:1px solid red;*/
	padding:50px 200px;
	background-color:black;
}
.footer h1{
	/*border:1px solid red;*/
	margin:0px;
	text-align:center;
	font-weight:500;
	margin-bottom:50px;
	color:white;
	font-family:'Roboto',sans-serif;
}
.footer_box{
	/*border:1px solid red;*/
	display:flex;
	justify-content:space-between;
}
.footer_box_1{
	/*border:1px solid red;*/
	flex-shrink:0;
}
.footer_box_1 h2{
	/*border:1px solid red;*/
	margin:0px;
	font-family:'Playfair',serif;
	color:white;
	font-weight:100;
}
.footer_box_1 h4{
	/*border:1px solid red;*/
	font-weight:100;
	margin:0px;
	margin-top:25px;
	margin-bottom:25px;
	color:rgba(255,255,255,.5);
	font-family:'Roboto',sans-serif;
	transition:.2s all linear;
}
.footer_box_1 h4:hover{
	cursor:pointer;
	color:rgba(255,255,255,.8);
}
.footer_box_2{
	/*border:1px solid red;*/
	flex-shrink:0;
}
.footer_box_2 h2{
	/*border:1px solid red;*/
	margin:0px;
	font-family:'Playfair',serif;
	color:white;
	font-weight:100;
}
.footer_box_2 h4{
	/*border:1px solid red;*/
	font-weight:100;
	margin:0px;
	margin-top:25px;
	margin-bottom:25px;
	color:rgba(255,255,255,.5);
	font-family:'Roboto',sans-serif;
	transition:.2s all linear;
}
.footer_box_2 h4:hover{
	cursor:pointer;
	color:rgba(255,255,255,.8);
}
.footer_box_3{
	/*border:1px solid red;*/
	flex-shrink:0;
}
.footer_box_3 h2{
	/*border:1px solid red;*/
	margin:0px;
	font-family:'Playfair',serif;
	color:white;
	font-weight:100;
}
.footer_box_3 h4{
	/*border:1px solid red;*/
	font-weight:100;
	margin:0px;
	margin-top:25px;
	margin-bottom:25px;
	color:rgba(255,255,255,.5);
	font-family:'Roboto',sans-serif;
	transition:.2s all linear;
}
.footer_box_3 h4:hover{
	cursor:pointer;
	color:rgba(255,255,255,.8);
}
.footer_box_4{
	/*border:1px solid red;*/
	flex-shrink:0;
}
.footer_box_4 h2{
	/*border:1px solid red;*/
	margin:0px;
	font-family:'Playfair',serif;
	color:white;
	font-weight:100;
}
.footer_box_4 h4{
	/*border:1px solid red;*/
	font-weight:100;
	margin:0px;
	margin-top:25px;
	margin-bottom:25px;
	color:rgba(255,255,255,.5);
	font-family:'Roboto',sans-serif;
	transition:.2s all linear;
}
.footer_box_4 h4:hover{
	cursor:pointer;
	color:rgba(255,255,255,.8);
}
.footer_f{
	border-top:1.5px solid rgba(255,255,255,.5);
	padding:20px 10px;
	padding-bottom:0px;
	margin-top:50px;
	display:flex;
	justify-content:space-between;
}
.footer_f h4{
	margin:0px;
	font-family:'Roboto',sans-serif;
	font-weight:100;
	color:rgba(255,255,255,.5);
}