body{
	margin:0px;
	padding:0px;
	/*height:3000px;*/
}
.nav_c{
	position:fixed;
	width:1880px;
	top:-150px;
	transition:.5s all ease-out;
	box-shadow:0px 0px 30px rgba(150,150,150,.2);
	z-index:15;
}
.nav_1{
	top:0px;
}
.nav_n{
	position:relative;
}
.nav{
	/*border:1px solid red;*/
	display:flex;
	position:relative;
	font-family: 'Quicksand', sans-serif;
	justify-content:space-between;
	background-color:white;
	box-sizing:border-box;
	padding:20px 50px;
	padding-right:100px;
}
.nav_box_1{
	/*border:1px solid red;*/
	margin:0px;
	display:flex;
	align-items:center;
}
.nav_box_1 h1{
	margin:0px;
	font-size:50px;
}
.nav_box_1 h1:first-child{
	font-family:sans-serif;
	color:rgba(179, 255, 204,1);
	box-shadow:-10px -10px 0px rgba(170, 0, 255,1);
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
}
.nav_box_1 h1:last-child{
	margin-left:10px;
	font-family:sans-serif;
	color:rgba(170, 0, 255,1);
	box-shadow:10px 10px 0px rgba(179, 255, 204,1);
	padding-right:10px;
	padding-bottom:10px;
	padding-top:10px;
}
.nav_box_2{
	/*border:1px solid red;*/
	margin:0px;
	display:flex;
	align-items:center;
}
.nav_box_2_h3{
	margin-left:20px;
	margin-right:20px;
	display:inline-block;
	position:relative;
	transition:.1s all linear;
}
.nav_box_2_h3:hover{
	color:rgba(255, 102, 255, 1);
	cursor:pointer;
}
.nav_box_2_h3::before{
	content:'';
	position:absolute;
	top:0px;
	width:0%;
	height:100%;
	border-bottom:1.5px solid transparent;
	transition:.5s all linear;
}
.nav_box_2_h3:hover::before{
	width:100%;
	border-bottom:1.5px solid rgba(255, 102, 255, 1);
}
.nav_box_2 h3:last-child{
	margin-left:20px;
	margin-right:20px;
	padding:12px 40px;
	background-color:rgba(179, 255, 204,1);
	border-radius:3px;
	transition:.2s all linear;
}
.nav_box_2 h3:last-child:hover{
	background-color:rgba(255, 102, 255, 1);
	color:white;
	cursor:pointer;
}
.part_1{
	/*border:1px solid red;*/
	font-family:'Quicksand',sans-serif;
	padding:250px 300px;
	padding-top:150px;
	padding-bottom:150px;
	display:flex;
}
.part_1_box{
	/*border:1px solid red;*/
	display:inline-block;
}
.part_1_box h1{
	font-size:55px;
	color:rgba(0, 68, 128,1);
}
.part_1_box h3{
	line-height:1.8;
	font-size:20px;
	font-weight:500;
	color:rgba(100,100,100,.8);
}
.part_1_box_buttons{
	/*border:1px solid red;*/
	display:flex;
	align-items:center;
}
.part_1_box_buttons h4:first-child{
	/*border:1px solid red;*/
	color:white;
	padding:15px 35px;
	background:linear-gradient(to right ,rgba(138, 0, 230,1),rgba(138, 0, 230,.5));
	border-radius:5px;
	margin-right:50px;
	font-weight:500;
	box-sizing:border-box;
	height:51px;
	width:195px;
	box-shadow:0px 0px 20px rgba(100,100,100,.5);
	transition:.2s all linear;
}
.part_1_box_buttons h4:first-child:hover{
	cursor:pointer;
	box-shadow:0px 0px 0px transparent;
}
.part_1_box_buttons h4:first-child i{
	margin-left:10px;
	font-size:20px;
	transition:.2s all linear;
}
.part_1_box_buttons h4:first-child:hover i{
	margin-left:15px;
}
.part_1_box_buttons h4:last-child{
	color:rgba(0, 128, 255,.7);
	transition:.2s all linear;
}
.part_1_box_buttons h4:last-child:hover{
	cursor:pointer;
	color:rgba(0, 128, 255,1);
}
.part_1_box_1{
	/*border:1px solid red;*/
	margin-left:200px;
	width:400px;
	position:relative;
}
.p1b1_b_c{
	/*border:1px solid red;*/
	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
}
.p1b1_b{
	/*border:1px solid red;*/
	width:250px;
	height:250px;
	border-radius:50%;
	background:url("img1.png");
	background-size:cover;
	background-position:center center;
	box-shadow:0px 0px 30px rgba(150,150,150,.2);
}
@keyframes rotate_1{
	0%{
		transform:rotateZ(0deg);
		top:0px;
		left:0px;
	}
	50%{
		transform:rotateZ(45deg);
		top:-50px;
		left:-100px;
	}
	100%{
		transform:rotateZ(0deg);
		top:0px;
		left:0px;
	}
}
.p1b1_1{
	/*border:1px solid red;*/
	width:70px;
	height:70px;
	position:absolute;
	top:0px;
	left:0px;
	background-color:rgba(230, 255, 243,1);
	border-radius:10px;
	animation-name:rotate_1;
	animation-duration:3s;
	animation-delay:1s;
	animation-iteration-count:infinite;
}
@keyframes rotate_2{
	0%{
		transform:rotateZ(0deg);
		right:0px;
		bottom:0px;
	}
	50%{
		transform:rotateZ(-45deg);
		right:-100px;
		bottom:-50px;
	}
	100%{
		transform:rotateZ(0deg);
		right:0px;
		bottom:0px;
	}
}
.p1b1_2{
	/*border:1px solid red;*/
	width:70px;
	height:70px;
	position:absolute;
	bottom:0px;
	right:0px;
	background-color:rgba(230, 255, 243,1);
	border-radius:10px;
	animation-name:rotate_2;
	animation-duration:3s;
	animation-delay:1s;
	animation-iteration-count:infinite;
}
@keyframes rotate_3{
	0%{
		transform:rotateZ(0deg);
		bottom:0px;
		left:0px;
	}
	50%{
		transform:rotateZ(45deg);
		bottom:-50px;
		left:-100px;
	}
	100%{
		transform:rotateZ(0deg);
		bottom:0px;
		left:0px;
	}
}
.p1b1_3{
	/*border:1px solid red;*/
	width:70px;
	height:70px;
	position:absolute;
	bottom:0px;
	left:0px;
	background-color:rgba(255, 242, 230,1);
	border-radius:10px;
	animation-name:rotate_3;
	animation-duration:3s;
	animation-delay:1s;
	animation-iteration-count:infinite;
}
.p1b1_4{
	/*border:1px solid red;*/
	width:70px;
	height:70px;
	position:absolute;
	top:0px;
	right:0px;
	background-color:rgba(255, 242, 230,1);
	border-radius:10px;
	animation-name:rotate_2;
	animation-duration:3s;
	animation-delay:1s;
	animation-iteration-count:infinite;
}
.nav_slider{
	/*border:1px solid red;*/
	display:none;
	padding:25px 50px;
	font-family:'Quicksand',sans-serif;
	background-color:white;
	position:absolute;
	width:1880px;
	top:125px;
	box-shadow:0px 0px 20px rgba(180,180,180,.5);
}
/*#nav_slider_n{
	border:1px solid red;
	display:none;
	padding:25px 50px;
	font-family:'Quicksand',sans-serif;
	background-color:white;
	position:absolute;
	width:1880px;
	top:250px;
}*/
.nav_slider_box_1{
	/*border:1px solid red;*/
	display:inline-block;
	text-align:center;
	padding:5px;
	margin-left:25px;
	margin-right:25px;
}
.nav_slider_box_1 h3{
	font-weight:500;
	margin:0px;
	margin-top:10px;
}
.nav_slider_box_1 div{
	/*border:1px solid red;*/
	width:250px;
	height:170px;
	border-radius:10px;
	background:url("img2.png");
	background-size:cover;
	background-position:center center;
}
.nav_slider_box_2{
	/*border:1px solid red;*/
	display:inline-block;
	text-align:center;
	padding:5px;
	margin-left:25px;
	margin-right:25px;
}
.nav_slider_box_2 div{
	/*border:1px solid red;*/
	width:250px;
	height:170px;
	border-radius:10px;
	background:url("img3.png");
	background-size:cover;
	background-position:center center;
}
.nav_slider_box_2 h3{
	font-weight:500;
	margin:0px;
	margin-top:10px;
}
.part_2{
	/*border:1px solid red;*/
	font-family:'Quicksand',sans-serif;
	padding:50px 300px;
	padding-top:100px;
	position:relative;
	background:linear-gradient(to bottom right ,rgba(230, 230, 255,.1),rgba(179, 179, 255,.1));
}
.part_2_box_1{
	/*border:1px solid red;*/
}
.part_2_box_1 h1{
	text-align:center;
	color:black;
	font-size:40px;
	margin-top:50px;
}
.part_2_box_1 div{
	/*border:1px solid red;*/
	display:flex;
	justify-content:center;
} 
.part_2_box_1_div_h1{
	font-size:35px;
	margin:0px;
	color:white;
	/*border:1px solid red;*/
	padding:25px 30px;
	border-radius:50%;
	border-bottom-right-radius:15px;
	background:linear-gradient(to bottom right ,rgba(218, 255, 179,1),rgba(102, 255, 204,1));
	transform:rotateZ(-45deg);
	transition:.5s all linear;
}
.part_2_box_1_div_h1 i{
	color:white;
}
.part_2_box_1_d{
	/*border:1px solid red;*/
	transform:rotateZ(0deg);
}
.part_2_box_2{
	/*border:1px solid red;*/
	display:flex;
	justify-content: center;
	margin-top:125px;
	margin-bottom:100px;
}
.part_2_box_2_box_1{
	border:1px solid rgba(150,150,150,1);
	padding:50px 30px;
	position:relative;
	top:70px;
	padding-bottom:20px;
	background-color:white;
	opacity:0;
	margin-right:25px;
	border-radius:5px;
	transition:.4s all linear;
}
.part_2_box_2_box_1_1{
	opacity:1;
	top:0px;
}
.part_2_box_2_box_1 h1{
	color:rgba(230, 255, 243,1);
	margin-bottom:50px;
}
.part_2_box_2_box_1 h1 i{
	font-size:45px;
}
.part_2_box_2_box_1 h3{
	font-weight:500;
	line-height:1.8;
	font-size:20px;
}
.part_2_box_2_box_1 h4{
	color:rgba(150,150,150,1);
	line-height:1.8;
	font-weight:500;
	font-size:18px;
	transition:.2s all linear;
}
.part_2_box_2_box_2{
	border:1px solid rgba(150,150,150,1);
	padding:50px 30px;
	position:relative;
	top:70px;
	opacity:0;
	padding-bottom:20px;
	background-color:white;
	margin-right:25px;
	border-radius:5px;
	transition:.6s all linear;
}
.part_2_box_2_box_2_1{
	opacity:1;
	top:0px;
}
.part_2_box_2_box_2 h1{
	color:rgba(255, 242, 230,1);
	margin-bottom:50px;
}
.part_2_box_2_box_2 h1 i{
	font-size:45px;
}
.part_2_box_2_box_2 h3{
	font-weight:500;
	line-height:1.8;
	font-size:20px;
}
.part_2_box_2_box_2 h4{
	color:rgba(150,150,150,1);
	line-height:1.8;
	font-weight:500;
	font-size:18px;
	transition:.2s all linear;
}
.part_2_box_2_box_3{
	position:relative;
	top:70px;
	opacity:0;
	border:1px solid rgba(150,150,150,1);
	padding:50px 30px;
	padding-bottom:20px;
	background-color:white;
	margin-right:25px;
	border-radius:5px;
	transition:.7s all linear;
}
.part_2_box_2_box_3_1{
	opacity:1;
	top:0px;
}
.part_2_box_2_box_3 h1{
	color:rgba(138, 0, 230,1);
	margin-bottom:50px;
}
.part_2_box_2_box_3 h1 i{
	font-size:45px;
}
.part_2_box_2_box_3 h3{
	font-weight:500;
	line-height:1.8;
	font-size:20px;
}
.part_2_box_2_box_3 h4{
	color:rgba(150,150,150,1);
	line-height:1.8;
	font-weight:500;
	font-size:18px;
	transition:.2s all linear;
}
.part_3{
	/*border:1px solid red;*/
	display:flex;
	justify-content:center;
	overflow:hidden;
	padding-bottom:300px;
}
.part_3 a{
	width:80px;
	height:80px;
	font-size:30px;
	color:rgba(150,150,150,.8);
	text-decoration:none;
	/*border:1px solid red;*/
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:white;
	border-radius:50%;
	box-shadow:0px 10px 30px rgba(150,150,150,.4);
	transition:.2s all linear;
}
.part_3 a:hover{
	color:white;
	background-color:rgba(138, 0, 230,.8);
}
.part_4{
	/*border:1px solid red;*/
	display:flex;
	justify-content:center;
	padding:150px 50px;
	font-family:'Quicksand',sans-serif;
}
.part_4_box_1{
	/*border:1px solid red;*/
	flex-shrink:0;
	flex-basis:45%;
}
.part_4_box_1_box_1{
	/*border:1px solid red;*/
	background-color:white;
	display:inline-block;
	border-radius:10px;
	box-shadow:0px 0px 30px rgba(180,180,180,.3);
	overflow:hidden;
	transform:rotateZ(-12deg);
}
.part_4_box_1_box_1 div:first-child{
	/*border:1px solid red;*/
	padding:15px 20px;
	border-bottom:1px solid rgba(150,150,150,.2);
}
.part_4_box_1_box_1 div:first-child h3{
	margin:0px;
}
.part_4_box_1_box_1 div:first-child h4{
	color:rgba(150,150,150,.5);
	margin:0px;
	margin-top:5px;
}
.part_4_box_1_box_1 div:last-child{
	/*border:1px solid red;*/
	padding:50px 0px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.part_4_box_1_box_1 div:last-child h1{
	margin:0px;
	border:5px solid rgba(77, 255, 255,.7);
	font-size:25px;
	box-sizing:border-box;
	width:150px;
	height:150px;
	padding:50px;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.part_4_box_1_box_2{
	/*border:1px solid red;*/
	background-color:white;
	padding:20px;
	display:inline-block;
	border-radius:10px;
	box-shadow:0px 0px 30px rgba(180,180,180,.3);
	overflow:hidden;
	transform:rotateZ(-12deg);
	margin-left:70px;
	position:relative;
	top:70px;
}
.part_4_box_1_box_2 div:first-child{
	/*border:1px solid red;*/
	border-bottom:1px dashed rgba(180,180,180,.5);
}
.part_4_box_1_box_2 div:first-child h4{
	color:rgba(180,180,180,.5);
}
.part_4_box_1_box_2 div:first-child h3{
	color:rgba(0, 75, 141,1);
	font-size:25px;
}
.part_4_box_1_box_2 div:first-child h3 span{
	font-size:20px;
	color:rgba(133, 224, 133,1);
}
.part_4_box_1_box_2 div:last-child{
	/*border:1px solid red;*/
	display:flex;
	justify-content:center;
	align-items:center;
	padding:30px;
}
.part_4_box_1_box_2 div:last-child div{
	/*border:1px solid red;*/
	width:100px;
	height:100px;
	border-radius:50%;
	background:url("img4.png");
	background-size:cover;
	background-position:center center;
}
.part_4_box_1_box_3{
	/*border:1px solid red;*/
	background-color:white;
	padding:20px;
	display:inline-block;
	border-radius:10px;
	box-shadow:0px 0px 30px rgba(180,180,180,.3);
	overflow:hidden;
	transform:rotateZ(-12deg);
	margin-top:50px;
	margin-left:85px;
}
.part_4_box_1_box_3 div:first-child{
	/*border:1px solid red;*/
	border-bottom:1px dashed rgba(180,180,180,.5);
}
.part_4_box_1_box_3 div:first-child h4{
	color:rgba(180,180,180,.5);
}
.part_4_box_1_box_3 div:first-child h3{
	color:rgba(0, 75, 141,1);
	font-size:25px;
}
.part_4_box_1_box_3 div:first-child h3 span{
	font-size:20px;
	color:rgba(133, 224, 133,1);
}
.part_4_box_1_box_3 div:last-child{
	/*border:1px solid red;*/
	display:flex;
	justify-content:center;
	align-items:center;
	padding:30px;
}
.part_4_box_1_box_3 div:last-child div{
	/*border:1px solid red;*/
	width:100px;
	height:100px;
	border-radius:50%;
	background:url("img5.png");
	background-size:cover;
	background-position:center center;
}
.part_4_box_1_box_4{
	/*border:1px solid red;*/
	background-color:white;
	padding:20px;
	display:inline-block;
	border-radius:10px;
	box-shadow:0px 0px 30px rgba(180,180,180,.3);
	overflow:hidden;
	transform:rotateZ(-12deg);
	margin-left:70px;
	position:relative;
	top:70px;
}
.part_4_box_1_box_4 div:first-child{
	/*border:1px solid red;*/
	border-bottom:1px dashed rgba(180,180,180,.5);
}
.part_4_box_1_box_4 div:first-child h4{
	color:rgba(180,180,180,.5);
}
.part_4_box_1_box_4 div:first-child h3{
	color:rgba(0, 75, 141,1);
	font-size:25px;
}
.part_4_box_1_box_4 div:first-child h3 span{
	font-size:20px;
	color:rgba(133, 224, 133,1);
}
.part_4_box_1_box_4 div:last-child{
	/*border:1px solid red;*/
	display:flex;
	justify-content:center;
	align-items:center;
	padding:30px;
}
.part_4_box_1_box_4 div:last-child div{
	/*border:1px solid red;*/
	width:100px;
	height:100px;
	border-radius:50%;
	background:url("img2.png");
	background-size:cover;
	background-position:center center;
}
.part_4_box_2{
	/*border:1px solid red;*/
	font-family:'Quicksand',sans-serif;
	padding:20px;
	margin-left:100px;
}
.part_4_box_2_box_1{
	/*border:1px solid red;*/
}
.part_4_box_2_box_1 h1{
	/*border:1px solid red;*/
	display:inline-block;
	font-size:40px;
	padding:25px 30px;
	color:white;
	border-radius:50%;
	border-bottom-right-radius:15px;
	background:linear-gradient(to bottom right,rgba(255, 255, 128,1),rgba(255, 230, 179,1),rgba(255, 170, 0,1));
}
.part_4_box_2_box_1 h2{
	/*border:1px solid red;*/
	font-size:45px;
	font-weight:500;
	color:rgba(0, 0, 77,1)
}
.part_4_box_2_box_1 h2 b{
	position:relative;
}
.part_4_box_2_box_1 h2 b:before{
	position:absolute;
	content:'';
	top:0px;
	width:100%;
	height:100%;
	border-bottom:5px solid black;
	transform:translateX(120%) translateY(-30px);
}
.part_4_box_2_box_1 p{
	/*border:1px solid red;*/
	font-weight:500;
	font-size:20px;
	line-height:1.8;
	margin-top:50px;
	margin-bottom:50px;
}
.part_4_box_2_box_2{
	/*border:1px solid red;*/
}
.part_4_box_2_box_2 h2{
	margin--bottom:50px;
}
.part_4_box_2_box_2 h3{
	font-weight:500;
}
.part_4_box_2_box_2 h3 i{
	margin-right:15px;
	color:rgba(255, 170, 0,1);
}
.part_5{
	/*border:1px solid red;*/
	display:flex;
	font-family:'Quicksand',sans-serif;
	justify-content:center;
	padding:100px 0px;
}
.part_5_box_1{
	/*border:1px solid red;*/
	flex-shrink:0;
	margin-right:120px;
	display:flex;
}
.part_5_box_1_1{
	/*border:1px solid red;*/
	display:flex;
	align-items:center;
	margin-right:40px;
}
.part_5_box_1_box_1{
	/*border:1px solid red;*/
	display:inline-block;
	border-radius:5px;
	box-shadow: 0px 0px 30px rgba(180,180,180,.3);
	padding:20px;
}
.part_5_box_1_box_1 h2{
	text-align:center;
	color:rgba(128, 195, 255,1);
}
.part_5_box_1_box_1 h4{
	color:rgba(150,150,150,.5);
	line-height:1.8;
	margin-top:50px;
}
.part_5_box_2{
	/*border:1px solid red;*/
	flex-shrink:0;
}
.part_5_box_1_2{
	/*border:1px solid red;*/
}
.part_5_box_1_box_2{
	/*border:1px solid red;*/
	border-radius:5px;
	box-shadow: 0px 0px 30px rgba(180,180,180,.3);
	padding:20px;
}
.part_5_box_1_box_2 h2{
	text-align:center;
	color:rgba(128, 195, 255,1);
}
.part_5_box_1_box_2 h4{
	color:rgba(150,150,150,.5);
	line-height:1.8;
	margin-top:50px;
}
.part_5_box_1_box_3{
	/*border:1px solid red;*/
	border-radius:5px;
	box-shadow: 0px 0px 30px rgba(180,180,180,.3);
	padding:20px;
	margin-top:40px;
}
.part_5_box_1_box_3 h2{
	text-align:center;
	color:rgba(128, 195, 255,1);
}
.part_5_box_1_box_3 h4{
	color:rgba(150,150,150,.5);
	line-height:1.8;
	margin-top:50px;
}
.part_5_box_2{
	/*border:1px solid red;*/
	flex-shrink:0;
	display:inline-block;
}
.part_5_box_2 h1{
	/*border:1px solid red;*/
	color:rgba(255, 170, 0,1);
}
.part_5_box_2 h2{
	/*border:1px solid red;*/
	font-size:45px;
}
.part_5_box_2 h3{
	/*border:1px solid red;*/
	color:rgba(0, 0, 77,1);
	font-weight:500;
	font-size:20px;
}
.part_5_box_2 p{
	/*border:1px solid red;*/
	color:rgba(150,150,150,.8);
	font-weight:500;
	font-size:18px;
	line-height:1.8;
}
.part_5_box_2 h4{
	/*border:1px solid red;*/
	padding:15px 65px;
	border-radius:5px;
	display:inline-block;
	background-color:rgba(255, 170, 0,.5);
	transition:.2s all linear;
}
.part_5_box_2 h4:hover{
	cursor:pointer;
	color:white;
	background-color:rgba(255, 170, 0,.8);
}
.part_6{
	/*border:1px solid red;*/
	font-family:'Quicksand',sans-serif;
}
.part_6_box_1{
	/*border:1px solid red;*/
	padding-top:100px;
}
.part_6_box_1 div{
	text-align:center;
}
.part_6_box_1_div_h1{
	display:inline-block;
	color:white;
	font-size:40px;
	padding:25px 30px;
	border-radius:50%;
	border-bottom-right-radius:15px;
	background: linear-gradient(to bottom right ,rgba(218, 255, 179,1),rgba(102, 255, 204,1));
	margin:0px;
	transform: scale(.8) rotateZ(-45deg);
	transition: .5s all linear;
}
.part_6_box_1_div_h1_1{
	transform: scale(.8) rotateZ(0deg);
}
.part_6_box_1 h2{
	font-size:45px;
	color:rgba(0, 0, 77,1);
	/*border:1px solid red;*/
	text-align:center;
	margin:0px;
	margin-top:25px;
}
.part_6_box_1 h3{
	color:rgba(150,150,150,.8);
	/*border:1px solid red;*/
	text-align:center;
	margin:0px;
	margin-top:30px;
	font-weight:500;
}
.part_6_box_1 h3 a{
	color:black;
}
.part_6_box_2{
	/*border:1px solid red;*/
	text-align:center;
	margin-top:100px;
}
.part_6_box_2_box_1{
	/*border:1px solid red;*/
	display:flex;
	justify-content:center;
}
.p6b2b1_1{
	/*border:1px solid red;*/
	flex-shrink:0;
	padding:25px 25px;
	border-radius:7px;
	background-color:white;
	box-shadow:0px 0px 20px rgba(200,200,200,.2);
	margin-right:30px;
}
.p6b2b1_1 h3{
	margin:0px;
	/*border:1px solid red;*/
}
.p6b2b1_1 p{
	/*border:1px solid red;*/
	font-weight:500;
	color:rgba(150,150,150,.8);
	line-height:1.8;
	text-align:left;
}
.p6b2b1_2{
	/*border:1px solid red;*/
	flex-shrink:0;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}
.p6b2b1_2 div{
	/*border:1px solid red;*/
	border-radius:7px;
	box-shadow:0px 0px 20px rgba(200,200,200,.2);
	padding:0px 25px;
}
.p6b2b1_2 div h3{
	display:flex;
	align-items:center;
}
.p6b2b1_2 div h3 i{
	margin-right:15px;
}
.part_6_box_2_box_2{
	/*border:1px solid red;*/
	margin-top:40px;
}
.part_6_box_2_box_2 div{
	display:inline-block;
	text-align:left;
	/*border:1px solid red;*/
	border-radius:7px;
	padding:0px 25px;
	box-shadow:0px 0px 20px rgba(200,200,200,.2);
}
.part_6_box_2_box_2  h3{
	display:flex;
	align-items:center;
}
.part_6_box_2_box_2  h3 i{
	margin-right:15px;
}
.part_6_box_3{
	/*border:1px solid red;*/
	display:flex;
	justify-content:center;
	margin-top:70px;
}
.part_6_box_3 div{
	box-sizing:border-box;
	display:flex;
	align-items:center;
	justify-content:center;
	width:60px;
	height:60px;
	border:2px solid rgba(77, 255, 166, 1);
	border-radius:50%;
	padding:15px 18px;
	transition:.2s all linear;
}
.part_6_box_3 div:hover{
	cursor:pointer;
	background-color:rgba(77, 255, 166, 1);
}
.part_6_box_3 div:hover i{
	color:white;
}
.part_6_box_3 div i{
	font-size:25px;
	color:rgba(77, 255, 166, 1);
}
.part_7{
	/*border:1px solid red;*/
	padding:120px 0px;
	padding-bottom:100px;
	text-align:center;
	font-family:'Quicksand',sans-serif;
	margin-top:150px;
	background-color:rgba(255, 255, 204,.7);
}
.part_7 div{
	/*border:1px solid red;*/
	display:inline-block;
}
.part_7 div h1{
	margin:0px;
	color:rgba(0, 0, 77,1);
	font-size:45px;
}
.part_7 h3{
	margin:0px;
	color:black;
	border-radius:5px;
	background-color:rgba(77, 255, 166,.8);
	transition:.2s all linear;
	display:inline-block;
	margin-top:40px;
	font-size:18px;
	padding:15px 70px;
}
.part_7 h3:hover{
	color:white;
	cursor:pointer;
	background-color:rgba(77, 255, 166,1);
}
.part_8{
	/*border:1px solid red;*/
	padding:50px 50px;
	padding-bottom:100px;
	font-family:'Quicksand',sans-serif;
}
.part_8 h2{
	color:rgba(180,180,180,.8);
	text-align:center;
	margin-bottom:50px;
	font-weight:500;
}
.part_8_box{
	/*border:1px solid red;*/
	display:flex;
	box-sizing:border-box;
	width:900px;
	justify-content:center;
	/*overflow:hidden;*/
	margin-left:500px;
	margin-right:500px;
}
.part_8_box h1{
	/*border:1px solid red;*/
	box-sizing:border-box;
	display:flex;
	justify-content:center;
	align-items:center;
	width:250px;
	height:70px;
	flex-shrink:0;
	padding:20px;
	margin-right:25px;
	margin-left:25px;
	font-size:25px;
}
.p8h1{
	/*margin-right:50px;*/
}
.footer{
	/*border:1px solid red;*/
	font-family:'Quicksand',sans-serif;
	padding:30px 0px;
	text-align:center;
}
.footer h3{
	color:rgba(180,180,180,.8);
}
.footer h1{
	font-size:40px;
}